Repository IgniteUI/igniteui-xplat-docs: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

azure-pipelines/azure-pipelines-jp.yml:
  name: $(BuildDefinitionName)_$(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  stages:
  - stage: Build
    pool:
      name: BuildAgentOnPrem
      demands: npm
    jobs:
    - job: BuildDocs
      steps:
      - task: NodeTool@0
        inputs:
          versionSource: spec
          versionSpec: 16.x
  ...

azure-pipelines/azure-pipelines.yml:
  schedules:
  - cron: '*/30 * * * *'
    displayName: Stability verification schedule
    branches:
      include:
      - azure-pipelines
    always: true
  name: $(BuildDefinitionName)_$(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  stages:
  - stage: Build
    pool:
      name: BuildAgentOnPrem
      demands: npm
    jobs:
  ...

azure-pipelines/build-pipeline-jp+kr.yml:
  name: $(BuildDefinitionName)_$(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  stages:
  - stage: Build
    pool:
      name: BuildAgentOnPrem
      demands: npm
    jobs:
    - job: BuildDocs
      steps:
      - checkout: self
      - task: NodeTool@0
        inputs:
          versionSource: spec
          versionSpec: 16.x
  ...

azure-pipelines/build-pipeline-multi-job-jp+kr.yml:
  name: $(BuildDefinitionName)_$(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  stages:
  - stage: Build
    pool:
      name: BuildAgentOnPrem
      demands: npm
    jobs:
    - template: templates/build-jobs-template.yml
      parameters:
        jobName: WebComponents_JP
        buildType: $(buildType)
  ...

azure-pipelines/build-pipeline.yml:
  name: $(BuildDefinitionName)_$(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  stages:
  - stage: Build
    pool:
      name: BuildAgentOnPrem
      demands: npm
    jobs:
    - job: BuildDocs
      steps:
      - checkout: self
      - task: NodeTool@0
        inputs:
          versionSource: spec
          versionSpec: 16.x
  ...

Adding Linear Progress Topic to React
  docfx/en/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

feat(grid-lite): adding initial docs content
  doc/en/components/grid-lite/binding.md
  doc/en/components/grid-lite/cell-template.md
  doc/en/components/grid-lite/column-configuration.md
  doc/en/components/grid-lite/filtering.md
  doc/en/components/grid-lite/header-template.md
  doc/en/components/grid-lite/overview.md
  doc/en/components/grid-lite/sorting.md
  doc/en/components/grid-lite/theming.md
  docConfig.json
  docfx/en/components/toc.json
  stats/docStats-WC.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

chore(*): removing apex references
  doc/en/components/grid-lite/binding.md
  doc/en/components/grid-lite/cell-template.md
  doc/en/components/grid-lite/column-configuration.md
  doc/en/components/grid-lite/filtering.md
  doc/en/components/grid-lite/overview.md
  doc/en/components/grid-lite/sorting.md
  doc/en/components/grid-lite/theming.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

fix(toc): fix the status tag for column pinning
  docfx/en/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

docs(column-pinning): update topic for Blazor (#1764)
  doc/en/components/grids/_shared/column-pinning.md
  docfx/en/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

docs(toc): update cell merging topic for Blazor (#1766)
  doc/en/components/grids/_shared/cell-merging.md
  docfx/en/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

fix(grid-lite): fixing some obsolete igc- links
  docConfig.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Adding the latest updates
  doc/jp/components/grids/_shared/cell-merging.md
  doc/jp/components/grids/_shared/column-pinning.md
  docfx/jp/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

docs(grid-lite): update links and grid lite title, update overview topic
  doc/en/components/grid-lite/binding.md
  doc/en/components/grid-lite/cell-template.md
  doc/en/components/grid-lite/column-configuration.md
  doc/en/components/grid-lite/filtering.md
  doc/en/components/grid-lite/header-template.md
  doc/en/components/grid-lite/overview.md
  doc/en/components/grid-lite/sorting.md
  doc/en/components/grid-lite/theming.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Change free to premium. Add readme
  README.md
  src/ext/MarkdownTransformer.ts
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

chore(*): add-open-vs-premium-topic-jp
  doc/jp/components/general-open-source-vs-premium.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

chore(*): add-open-vs-premium-topic-en
  doc/en/components/general-open-source-vs-premium.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

chore(*): add-language-open-vs-source
  doc/jp/components/general-open-source-vs-premium.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

chore(*): remove-query-builder-from-jp-open-source
  doc/jp/components/general-open-source-vs-premium.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

fix(opens): adding topic to toc
  docfx/en/components/toc.json
  docfx/jp/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

fix(*): upgrading to latest template, fixing description
  doc/jp/components/general-open-source-vs-premium.md
  package-lock.json
  package.json
  yarn.lock
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

feat(*): adding premium tag for grid topics
  docfx/en/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

feat(grid-lite): adding licensing info, changing docs position in toc
  doc/en/components/grid-lite/binding.md
  doc/en/components/grid-lite/cell-template.md
  doc/en/components/grid-lite/column-configuration.md
  doc/en/components/grid-lite/filtering.md
  doc/en/components/grid-lite/header-template.md
  doc/en/components/grid-lite/overview.md
  doc/en/components/grid-lite/sorting.md
  doc/en/components/grid-lite/theming.md
  docfx/en/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

mdd-update-25.2
  doc/en/components/general-changelog-dv-blazor.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

feat(*): adding premium tags for all comps
  docfx/en/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

chore(*): update-grid-lite-topics
  doc/en/components/grid-lite/binding.md
  doc/en/components/grid-lite/cell-template.md
  doc/en/components/grid-lite/column-configuration.md
  doc/en/components/grid-lite/filtering.md
  doc/en/components/grid-lite/header-template.md
  doc/en/components/grid-lite/overview.md
  doc/en/components/grid-lite/sorting.md
  doc/en/components/grid-lite/theming.md
  stats/docStats-Angular.json
  stats/docStats-Blazor.json
  stats/docStats-React.json
  stats/docStats-WC.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

docs(grid-lite): review and add code snippets for grid-lite
  doc/en/components/grid-lite/binding.md
  doc/en/components/grid-lite/column-configuration.md
  doc/en/components/grid-lite/overview.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Adding license to Tailwind topic
  doc/jp/components/themes/tailwind.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

add(topic): added custom palette section
  doc/en/components/grids/_shared/cell-editing.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

fix(react): update React Dock Manager snippets
  doc/en/components/layouts/dock-manager.md
  docConfig.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

fix(tags): Fix missing premium tags for tree-grid. Remove old NEW tags.
  docfx/en/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

feat: add new tab attribute that can be added to md links
  custom-template/conceptual.html.primary.tmpl
  docfx/en/docfx.json
  docfx/jp/docfx.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Apply suggestions from code review
  doc/en/components/grid-lite/binding.md
  doc/en/components/grid-lite/column-configuration.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

docs: set WebComponents to pascal case
  doc/en/components/grid-lite/binding.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

fix(react): display more information about IgrDockManager
  doc/en/components/layouts/dock-manager.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Update chart user annotation topic for XPLAT docs
  doc/en/components/charts/features/chart-user-annotations.md
  docfx/en/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Fix removal info
  doc/en/components/charts/features/chart-user-annotations.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Update chart-user-annotations.md
  doc/en/components/charts/features/chart-user-annotations.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Path conditions:
  azure-pipelines/azure-pipelines-jp.yml: any file but: en
  azure-pipelines/azure-pipelines.yml: any file but: jp, kr
  azure-pipelines/build-pipeline-jp+kr.yml: any file but: **/en
  azure-pipelines/build-pipeline-multi-job-jp+kr.yml: any file but: **/en
  azure-pipelines/build-pipeline.yml: any file but: **/jp, **/kr
