Repository IgniteUI/igniteui-xplat-docs: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

azure-pipelines/azure-pipelines-jp.yml:
  name: $(BuildDefinitionName)_$(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  stages:
  - stage: Build
    pool:
      name: BuildAgentOnPrem
      demands: npm
    jobs:
    - job: BuildDocs
      steps:
      - task: NodeTool@0
        inputs:
          versionSource: spec
          versionSpec: 16.x
  ...

azure-pipelines/azure-pipelines.yml:
  schedules:
  - cron: '*/30 * * * *'
    displayName: Stability verification schedule
    branches:
      include:
      - azure-pipelines
    always: true
  name: $(BuildDefinitionName)_$(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  stages:
  - stage: Build
    pool:
      name: BuildAgentOnPrem
      demands: npm
    jobs:
  ...

azure-pipelines/build-pipeline-jp+kr.yml:
  name: $(BuildDefinitionName)_$(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  stages:
  - stage: Build
    pool:
      name: BuildAgentOnPrem
      demands: npm
    jobs:
    - job: BuildDocs
      steps:
      - checkout: self
      - task: NodeTool@0
        inputs:
          versionSource: spec
          versionSpec: 16.x
  ...

azure-pipelines/build-pipeline-multi-job-jp+kr.yml:
  name: $(BuildDefinitionName)_$(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  stages:
  - stage: Build
    pool:
      name: BuildAgentOnPrem
      demands: npm
    jobs:
    - template: templates/build-jobs-template.yml
      parameters:
        jobName: WebComponents_JP
        buildType: $(buildType)
  ...

azure-pipelines/build-pipeline.yml:
  name: $(BuildDefinitionName)_$(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  stages:
  - stage: Build
    pool:
      name: BuildAgentOnPrem
      demands: npm
    jobs:
    - job: BuildDocs
      steps:
      - checkout: self
      - task: NodeTool@0
        inputs:
          versionSource: spec
          versionSpec: 16.x
  ...

Update and enable state persistence topic with latest changes.
  doc/en/components/grids/_shared/state-persistence.md
  docfx/en/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

fix review notes
  doc/en/components/general-getting-started.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

mdd-added vertical orientation
  doc/en/components/menus/toolbar.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

mdd-added-Copy-To-Image
  doc/en/components/menus/toolbar.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

mdd-added vertical orientation (#1087)
  doc/en/components/menus/toolbar.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

JA - latest changes. Fixes in Button topic
  doc/jp/components/inputs/button.md
  doc/jp/components/menus/toolbar.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

Move PR-making steps into new pipelines
  azure-pipelines/build-pipeline-jp+kr.yml
  azure-pipelines/build-pipeline-make-pr-jp+kr.yml
  azure-pipelines/build-pipeline-make-pr.yml
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Fix yml indentation for JP+KR pipeline
  azure-pipelines/build-pipeline-make-pr-jp+kr.yml
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Fix which template to use for the JP+KR make PR pipeline
  azure-pipelines/build-pipeline-make-pr-jp+kr.yml
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Further fixes to the existing pipelines
  azure-pipelines/build-pipeline-jp+kr.yml
  azure-pipelines/build-pipeline.yml
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

mdd-update-fixes-getting-started
  doc/en/components/charts/types/column-chart.md
  doc/en/components/general-getting-started-blazor-client.md
  doc/en/components/general-getting-started.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Update dropdown.md
  doc/en/components/inputs/dropdown.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Update general-getting-started-blazor-client.md
  doc/en/components/general-getting-started-blazor-client.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

JA - localized content for Toolbar
  doc/jp/components/menus/toolbar.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

Trying to figure out why PR creation doesn't work here
  azure-pipelines/build-pipeline-make-pr.yml
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Update build-pipeline-make-pr.yml for Azure Pipelines
  azure-pipelines/build-pipeline-make-pr.yml
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Remove explicit checkout of the docfx destination repo
  azure-pipelines/build-pipeline-make-pr.yml
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Use the IgniteUI GitHub endpoint/service connection during igniteui-docfx checkout
  azure-pipelines/build-pipeline-make-pr-jp+kr.yml
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Fix working dir for the template invokations in the non-PR-ing build pipelines
  azure-pipelines/build-pipeline-jp+kr.yml
  azure-pipelines/build-pipeline.yml
  azure-pipelines/templates/build-steps-make-pr.yml
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Attempt to integrate Angular's build entry point into the non-PR-ing steps template
  azure-pipelines/templates/build-steps-template.yml
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Update cell-editing.md
  doc/en/components/grids/_shared/cell-editing.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

address PR comments for cell selection topic (#911)
  doc/en/components/grids/_shared/cell-selection.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Move automatic PRs for Angular into separate scheduled pipelines (#1090)
  azure-pipelines/build-pipeline-jp+kr.yml
  azure-pipelines/build-pipeline-make-pr-jp+kr.yml
  azure-pipelines/build-pipeline-make-pr.yml
  azure-pipelines/templates/build-steps-make-pr.yml
  azure-pipelines/templates/build-steps-template.yml
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Update css vars.
  doc/en/components/grids/tree-grid/overview.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

[JA] Latest localization changes and fixes (#1089)
  doc/jp/components/grids/_shared/cell-editing.md
  doc/jp/components/inputs/button.md
  doc/jp/components/layouts/dock-manager.md
  doc/jp/components/menus/toolbar.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

Mdd bug fixes 23.2 (#1088)
  doc/en/components/charts/types/column-chart.md
  doc/en/components/general-getting-started-blazor-client.md
  doc/en/components/general-getting-started.md
  doc/en/components/inputs/dropdown.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Update cell-editing.md (#1091)
  doc/en/components/grids/_shared/cell-editing.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Update tree grid overview topic. (#853)
  doc/en/components/grids/tree-grid/overview.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

JA - latest changes
  doc/jp/components/charts/types/column-chart.md
  doc/jp/components/general-getting-started-blazor-client.md
  doc/jp/components/general-getting-started.md
  doc/jp/components/grids/_shared/cell-editing.md
  doc/jp/components/grids/_shared/cell-selection.md
  doc/jp/components/grids/tree-grid/overview.md
  doc/jp/components/inputs/dropdown.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

Set the time to midnight (00:00). So it runs one time in Wednesdays
  azure-pipelines/build-pipeline-make-pr-jp+kr.yml
  azure-pipelines/build-pipeline-make-pr.yml
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Set the time to midnight (00:00). So it runs one time in Wednesdays (#1093)
  azure-pipelines/build-pipeline-make-pr-jp+kr.yml
  azure-pipelines/build-pipeline-make-pr.yml
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Updating JP for #853 and #1088
  doc/jp/components/general-getting-started-blazor-client.md
  doc/jp/components/general-getting-started.md
  doc/jp/components/grids/tree-grid/overview.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

Minor spacing fixes.
  doc/jp/components/general-getting-started.md
  doc/jp/components/grids/_shared/cell-selection.md
  doc/jp/components/grids/tree-grid/overview.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

Create chart highlight filter topic
  doc/en/components/charts/features/chart-highlight-filter.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Complete Martin's comments
  doc/en/components/charts/features/chart-highlight-filter.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Path conditions:
  azure-pipelines/azure-pipelines-jp.yml: any file but: en
  azure-pipelines/azure-pipelines.yml: any file but: jp, kr
  azure-pipelines/build-pipeline-jp+kr.yml: any file but: **/en
  azure-pipelines/build-pipeline-multi-job-jp+kr.yml: any file but: **/en
  azure-pipelines/build-pipeline.yml: any file but: **/jp, **/kr
