Repository IgniteUI/igniteui-xplat-docs: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Path conditions:
  azure-pipelines/azure-pipelines-jp.yml: any file but: en
  azure-pipelines/azure-pipelines.yml: any file but: jp, kr
  azure-pipelines/build-pipeline-jp+kr.yml: any file but: jp, kr
  azure-pipelines/build-pipeline-multi-job-jp+kr.yml: any file but: **/en
  azure-pipelines/build-pipeline.yml: any file but: **/jp, **/kr

Add 'git status' for some troubleshooting
  azure-pipelines/build-pipeline.yml
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Attempting to solve the error (1) code coming from git commit's dry run
  azure-pipelines/build-pipeline.yml
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Dummy change - to test out PR making
  doc/en/components/geo-map.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline.yml

Update licensing topic
  doc/en/components/general-licensing.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline.yml

Remove dummy change from the geo map sample's MD file
  doc/en/components/geo-map.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline.yml

Update notes formatting
  doc/en/components/general-licensing.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline.yml

Move Angular build logic to the tempalate/separate YAML file
  azure-pipelines/build-pipeline.yml
  azure-pipelines/templates/build-steps-make-pr.yml
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Attempt to accomodate to the JP+KR builds - for Angular
  azure-pipelines/build-pipeline-jp+kr.yml
  azure-pipelines/templates/build-steps-make-pr.yml
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Add trigger for the current feature branch - for JP+KR
  azure-pipelines/build-pipeline-jp+kr.yml
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Fixes to the build pipelines
  azure-pipelines/build-pipeline-jp+kr.yml
  azure-pipelines/build-pipeline.yml
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

fixed code viewer indent
  src/ext/MarkdownTransformer.ts
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

JA - updating licensing topic
  doc/jp/components/general-licensing.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

Localized content - part 1 - licensing
  doc/jp/components/general-licensing.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

Remove navbar components button
  docfx/en/toc.yml
  docfx/jp/toc.yml
  docfx/kr/toc.yml
  package.json
  yarn.lock
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

chore(*): update package lock
  package-lock.json
  yarn.lock
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Remove navbar components button - master
  docfx/en/toc.yml
  docfx/jp/toc.yml
  docfx/kr/toc.yml
  package-lock.json
  package.json
  yarn.lock
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Adding changes from #703
  doc/jp/components/general-licensing.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

Minor spacing fixes.
  doc/jp/components/general-licensing.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

adding language to pr title
  azure-pipelines/templates/build-steps-make-pr.yml
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Final dummy change to test out the PR making
  doc/en/components/geo-map.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline.yml

Final dummy changes for JP and KR - for Angular PR making
  doc/jp/components/geo-map.md
  doc/kr/components/geo-map.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

Remove dummy text from the geo-map sample - experiment completed successfully
  doc/en/components/geo-map.md
  doc/jp/components/geo-map.md
  doc/kr/components/geo-map.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Remove pipeline trigger for the current feature branch
  azure-pipelines/build-pipeline-jp+kr.yml
  azure-pipelines/build-pipeline.yml
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

simplified format of code-viewer
  doc/en/components/grids/combo/single-selection.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline.yml

Update chart axis types with samples and comment completions
  doc/en/components/charts/features/chart-axis-types.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline.yml

Update build-steps-make-pr.yml
  azure-pipelines/templates/build-steps-make-pr.yml
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Add requested tags duing the creation of the PR
  azure-pipelines/templates/build-steps-make-pr.yml
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

fix table and added more info
  doc/en/components/charts/features/chart-axis-types.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline.yml

JA - latest changes
  doc/jp/components/charts/features/chart-axis-types.md
  doc/jp/components/grids/combo/overview.md
  doc/jp/components/grids/combo/single-selection.md
  docfx/jp/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

Localized content for Chart Axis Types and Single Selection
  doc/jp/components/charts/features/chart-axis-types.md
  doc/jp/components/grids/combo/single-selection.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

Fixes after testing.
  doc/jp/components/charts/features/chart-axis-types.md
  doc/jp/components/grids/combo/single-selection.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

Update README.md
  README.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

mdd-tree-grid
  doc/en/components/grids/data-grid/theming.md
  doc/en/components/grids/tree-grid/clipboard-interactions.md
  doc/en/components/grids/tree-grid/collapsible-column-groups.md
  doc/en/components/grids/tree-grid/column-moving.md
  doc/en/components/grids/tree-grid/column-pinning.md
  doc/en/components/grids/tree-grid/display-density.md
  doc/en/components/grids/tree-grid/editing.md
  doc/en/components/grids/tree-grid/export-excel.md
  doc/en/components/grids/tree-grid/overview.md
  doc/en/components/grids/tree-grid/remote-data-operations.md
  doc/en/components/grids/tree-grid/row-editing.md
  doc/en/components/grids/tree-grid/state-persistence.md
  docfx/en/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline.yml

mdd-remove-unnecessary shared topics
  doc/en/components/grids/tree-grid/clipboard-interactions.md
  doc/en/components/grids/tree-grid/collapsible-column-groups.md
  doc/en/components/grids/tree-grid/column-moving.md
  doc/en/components/grids/tree-grid/column-pinning.md
  doc/en/components/grids/tree-grid/display-density.md
  doc/en/components/grids/tree-grid/editing.md
  doc/en/components/grids/tree-grid/export-excel.md
  doc/en/components/grids/tree-grid/remote-data-operations.md
  doc/en/components/grids/tree-grid/row-editing.md
  doc/en/components/grids/tree-grid/state-persistence.md
  docfx/en/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline.yml

add logSamples script
  gulpfile.js
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml
