Repository IgniteUI/igniteui-xplat-docs: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

azure-pipelines/azure-pipelines-jp.yml:
  name: $(BuildDefinitionName)_$(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  stages:
  - stage: Build
    pool:
      name: BuildAgentOnPrem
      demands: npm
    jobs:
    - job: BuildDocs
      steps:
      - task: NodeTool@0
        inputs:
          versionSource: spec
          versionSpec: 16.x
  ...

azure-pipelines/azure-pipelines.yml:
  schedules:
  - cron: '*/30 * * * *'
    displayName: Stability verification schedule
    branches:
      include:
      - azure-pipelines
    always: true
  name: $(BuildDefinitionName)_$(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  stages:
  - stage: Build
    pool:
      name: BuildAgentOnPrem
      demands: npm
    jobs:
  ...

azure-pipelines/build-pipeline-jp+kr.yml:
  name: $(BuildDefinitionName)_$(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  stages:
  - stage: Build
    pool:
      name: BuildAgentOnPrem
      demands: npm
    jobs:
    - job: BuildDocs
      steps:
      - checkout: self
      - task: NodeTool@0
        inputs:
          versionSource: spec
          versionSpec: 16.x
  ...

azure-pipelines/build-pipeline-multi-job-jp+kr.yml:
  name: $(BuildDefinitionName)_$(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  stages:
  - stage: Build
    pool:
      name: BuildAgentOnPrem
      demands: npm
    jobs:
    - template: templates/build-jobs-template.yml
      parameters:
        jobName: WebComponents_JP
        buildType: $(buildType)
  ...

azure-pipelines/build-pipeline.yml:
  name: $(BuildDefinitionName)_$(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  stages:
  - stage: Build
    pool:
      name: BuildAgentOnPrem
      demands: npm
    jobs:
    - job: BuildDocs
      steps:
      - checkout: self
      - task: NodeTool@0
        inputs:
          versionSource: spec
          versionSpec: 16.x
  ...

Add Enhancements section to XPLAT changelog for this SR
  doc/en/components/general-changelog-dv-blazor.md
  doc/en/components/general-changelog-dv-react.md
  doc/en/components/general-changelog-dv-wc.md
  doc/en/components/general-changelog-dv.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Update React version
  docConfig.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Update React changelog for March instead of February
  doc/en/components/general-changelog-dv-react.md
  docConfig.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

docs(changelogs): add disabled summaries and bugs for blazor and react
  doc/en/components/general-changelog-dv-blazor.md
  doc/en/components/general-changelog-dv-react.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

docs(changelog): Add comments for Blazor latest patch
  doc/en/components/general-changelog-dv-blazor.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Localized string.
  doc/jp/components/themes/palettes.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

docs(tile-manager): fix comments + add "row-count" property
  doc/en/components/layouts/tile-manager.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Update chart-data-selection.md
  doc/en/components/charts/features/chart-data-selection.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

docs(tile-manager): fix comments
  doc/en/components/layouts/tile-manager.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

docs(tile-manager): added text about the adorner icons to the styling topic
  doc/en/components/layouts/tile-manager.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Update docConfig.json
  docConfig.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

skip auto-PR targeting master branch in angular docs
  azure-pipelines/build-pipeline-make-pr-jp+kr.yml
  azure-pipelines/build-pipeline-make-pr.yml
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

docs(tile-manager): fix comment - made overview sample scrollable
  doc/en/components/layouts/tile-manager.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

fix(*): Removed the row-count prop
  doc/en/components/layouts/tile-manager.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Merge pull request #1472 from IgniteUI/gedinakova/remove-row-count-tile-manager
  doc/en/components/layouts/tile-manager.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

docs(tile-manager): add snapping section
  doc/en/components/layouts/tile-manager.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Update doc/en/components/layouts/dock-manager.md
  doc/en/components/layouts/dock-manager.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Update JA - Tile Manager, Changelogs, other changes.
  doc/jp/components/charts/features/chart-data-selection.md
  doc/jp/components/general-changelog-dv-blazor.md
  doc/jp/components/general-changelog-dv-react.md
  doc/jp/components/grids/_shared/summaries.md
  doc/jp/components/layouts/tile-manager.md
  doc/jp/images/tile-manager-actions.png
  docfx/jp/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

Update Dock Manager topic - #1437
  doc/jp/components/layouts/dock-manager.md
  doc/jp/images/dockmanager-document-host-docking.jpg
  doc/jp/images/dockmanager-pane-docking.jpg
  doc/jp/images/dockmanager-root-docking.jpg
  doc/jp/images/dockmanager-splitter-docking.jpg
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

Update TOC
  docfx/jp/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

docs(react): add changelog for 18.8.1 react patch
  doc/en/components/general-changelog-dv-react.md
  docConfig.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Tile Manager update, Blazor Maui topic fix.
  doc/jp/components/general-getting-started-blazor-maui.md
  doc/jp/components/layouts/tile-manager.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

JA - fixing Blazor Maui topic.
  doc/jp/components/general-getting-started-blazor-maui.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

Updating JA React changelog (#1478)
  doc/jp/components/general-changelog-dv-react.md
  doc/jp/components/general-getting-started-blazor-maui.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

doc(*): add initial filtering section and changelogs
  doc/en/components/general-changelog-dv-blazor.md
  doc/en/components/general-changelog-dv-react.md
  doc/en/components/general-changelog-dv-wc.md
  doc/en/components/grids/_shared/filtering.md
  docConfig.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

docs(*): update filtering snippets and changelogs
  doc/en/components/general-changelog-dv-blazor.md
  doc/en/components/general-changelog-dv-react.md
  doc/en/components/general-changelog-dv-wc.md
  doc/en/components/grids/_shared/filtering.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

docs(file-input): add file input topic
  doc/en/components/inputs/file-input.md
  docfx/en/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

doc(filtering): apply review comments
  doc/en/components/grids/_shared/filtering.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

docs(filtering): add more filtering operands
  doc/en/components/grids/_shared/filtering.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

doc(*): add initial filtering section and changelogs (#1485)
  doc/en/components/general-changelog-dv-blazor.md
  doc/en/components/general-changelog-dv-react.md
  doc/en/components/general-changelog-dv-wc.md
  doc/en/components/grids/_shared/filtering.md
  docConfig.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

mdd-update-combo-doc-for-T
  doc/en/components/inputs/combo/overview.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Update overview.md
  doc/en/components/inputs/combo/overview.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Add April release changelog content
  doc/en/components/general-changelog-dv-blazor.md
  doc/en/components/general-changelog-dv-react.md
  doc/en/components/general-changelog-dv-wc.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

docs(tooltip): add tooltip topic
  doc/en/components/inputs/tooltip.md
  docfx/en/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Remove fix from another release
  doc/en/components/general-changelog-dv-blazor.md
  doc/en/components/general-changelog-dv-react.md
  doc/en/components/general-changelog-dv-wc.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Updating JA changelogs (#1485)
  doc/jp/components/general-changelog-dv-blazor.md
  doc/jp/components/general-changelog-dv-react.md
  doc/jp/components/general-changelog-dv-wc.md
  doc/jp/components/grids/_shared/filtering.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

Path conditions:
  azure-pipelines/azure-pipelines-jp.yml: any file but: en
  azure-pipelines/azure-pipelines.yml: any file but: jp, kr
  azure-pipelines/build-pipeline-jp+kr.yml: any file but: **/en
  azure-pipelines/build-pipeline-multi-job-jp+kr.yml: any file but: **/en
  azure-pipelines/build-pipeline.yml: any file but: **/jp, **/kr
