Repository IgniteUI/igniteui-xplat-docs: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Path conditions:
  azure-pipelines/azure-pipelines-jp.yml: any file but: en
  azure-pipelines/azure-pipelines.yml: any file but: jp, kr
  azure-pipelines/build-pipeline-jp+kr.yml: any file but: **/en
  azure-pipelines/build-pipeline-multi-job-jp+kr.yml: any file but: **/en
  azure-pipelines/build-pipeline.yml: any file but: **/jp, **/kr

Changed button overview info in React
  doc/en/components/inputs/button.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Adding all combo topics for React
  doc/en/components/inputs/combo/features.md
  doc/en/components/inputs/combo/overview.md
  doc/en/components/inputs/combo/single-selection.md
  doc/en/components/inputs/combo/templates.md
  docfx/en/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

docs(rating):Removing duplicate lines
  doc/en/components/inputs/rating.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Fixing code snippets in the added combo topics
  doc/en/components/inputs/combo/features.md
  doc/en/components/inputs/combo/overview.md
  doc/en/components/inputs/combo/single-selection.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Add additional resources section
  doc/en/components/nextjs-usage.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Updating JA with the latest changes - inputs, layouts, menus.
  doc/jp/components/inputs/button.md
  doc/jp/components/inputs/dropdown.md
  doc/jp/components/inputs/mask-input.md
  doc/jp/components/inputs/rating.md
  doc/jp/components/inputs/select.md
  doc/jp/components/layouts/accordion.md
  doc/jp/components/menus/navigation-drawer.md
  docfx/jp/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

Update the description for SEO
  doc/en/components/nextjs-usage.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Updating JA with the latest changes - inputs, layouts, menus. (#1152)
  doc/jp/components/inputs/button.md
  doc/jp/components/inputs/dropdown.md
  doc/jp/components/inputs/mask-input.md
  doc/jp/components/inputs/rating.md
  doc/jp/components/inputs/select.md
  doc/jp/components/layouts/accordion.md
  doc/jp/components/menus/navigation-drawer.md
  docfx/jp/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

api map updates
  apiMap/Angular/webInputs.JS.apiMap.json
  apiMap/Blazor/webInputs.JS.blazor.apiMap.json
  apiMap/React/webInputs.JS.r.apiMap.json
  apiMap/WebComponents/webInputs.JS.wc.apiMap.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

docs(date-time-input): add topic for React
  doc/en/components/inputs/date-time-input.md
  docfx/en/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

docs(stepper): add react topic
  doc/en/components/layouts/stepper.md
  docfx/en/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Gmurray/update api maps 23.2 (#1153)
  apiMap/Angular/webInputs.JS.apiMap.json
  apiMap/Blazor/webInputs.JS.blazor.apiMap.json
  apiMap/React/webInputs.JS.r.apiMap.json
  apiMap/WebComponents/webInputs.JS.wc.apiMap.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

docs(progress-bars): enable the topic for react
  docfx/en/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Update chart-trendlines.md
  doc/kr/components/charts/features/chart-trendlines.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

Update chart-trendlines.md (#1157)
  doc/kr/components/charts/features/chart-trendlines.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

Update general-changelog-dv-wc.md
  doc/en/components/general-changelog-dv-wc.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Update general-changelog-dv-wc.md
  doc/jp/components/general-changelog-dv-wc.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

Update general-changelog-dv-react.md
  doc/en/components/general-changelog-dv-react.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

mdd-update-changelog-1-29-2024
  doc/en/components/general-changelog-dv-blazor.md
  doc/en/components/general-changelog-dv-react.md
  doc/en/components/general-changelog-dv-wc.md
  doc/en/components/general-changelog-dv.md
  docConfig.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

mdd-PackageVerChanges-23-2
  doc/en/components/general-changelog-dv-blazor.md
  doc/en/components/general-changelog-dv-react.md
  doc/en/components/general-changelog-dv-wc.md
  doc/en/components/general-changelog-dv.md
  docConfig.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Adding Nextjs topic, changelog updates.
  doc/jp/components/general-changelog-dv-blazor.md
  doc/jp/components/general-changelog-dv-react.md
  doc/jp/components/general-changelog-dv-wc.md
  doc/jp/components/general-changelog-dv.md
  doc/jp/components/nextjs-usage.md
  docfx/jp/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

hotfixes
  doc/en/components/general-changelog-dv-blazor.md
  doc/en/components/general-changelog-dv-react.md
  doc/en/components/general-changelog-dv-wc.md
  doc/en/components/general-changelog-dv.md
  doc/en/components/general-getting-started.md
  doc/en/components/inputs/mask-input.md
  doc/en/components/nextjs-usage.md
  doc/jp/components/general-changelog-dv-blazor.md
  doc/jp/components/general-changelog-dv-react.md
  doc/jp/components/general-changelog-dv-wc.md
  doc/jp/components/general-changelog-dv.md
  doc/jp/components/general-getting-started.md
  doc/jp/components/inputs/mask-input.md
  doc/kr/components/general-changelog-dv.md
  doc/kr/components/general-getting-started.md
  stats/docStats-Angular.json
  stats/docStats-Blazor.json
  stats/docStats-React.json
  stats/docStats-WC.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Updating JA for #1163
  doc/jp/components/general-changelog-dv-blazor.md
  doc/jp/components/general-changelog-dv-react.md
  doc/jp/components/general-changelog-dv-wc.md
  doc/jp/components/general-changelog-dv.md
  doc/jp/components/general-getting-started.md
  doc/jp/components/inputs/date-time-input.md
  doc/jp/components/inputs/input.md
  doc/jp/components/layouts/expansion-panel.md
  doc/jp/components/nextjs-usage.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

Add hgrid overview topic. Update toc.
  doc/en/components/grids/hierarchical-grid/overview.md
  doc/en/components/grids/tree-grid/overview.md
  doc/en/images/unfold_less_icon_screenshot.jpg
  docConfig.json
  docfx/en/components/toc.json
  gulpfile.js
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

fix-geo-links
  doc/en/components/geo-map-display-heat-imagery.md
  doc/jp/components/geo-map-display-heat-imagery.md
  doc/kr/components/geo-map-display-heat-imagery.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Finish up the WC part of the topic with all snippets tested and working
  doc/en/components/grids/hierarchical-grid/overview.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Finish up react topic and snippets
  doc/en/components/grids/hierarchical-grid/overview.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

update blazor server
  doc/en/components/general-getting-started.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Add blazor snippets without load on demand
  doc/en/components/grids/hierarchical-grid/overview.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Add paste from excel topic with snippets. (#1111)
  doc/en/components/grids/grid/paste-excel.md
  docfx/en/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Updating JA for the latest changes - Paste Excel, Tree, Geo Map.
  doc/jp/components/geo-map-display-heat-imagery.md
  doc/jp/components/grids/grid/paste-excel.md
  doc/jp/components/grids/tree.md
  docfx/jp/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

Fixing build error.
  doc/jp/components/grids/tree.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

remove DV codeowners
  CODEOWNERS
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Updating getting started to match #1168
  doc/jp/components/general-getting-started.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

Allowed filtering topics for HGrid
  docfx/en/components/toc.json
  stats/docStats-Blazor.json
  stats/docStats-React.json
  stats/docStats-WC.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Add hgrid hiding topic and update toc
  doc/en/components/grids/_shared/column-hiding.md
  docfx/en/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Updating JA for #1139 - Dialog topic
  doc/jp/components/notifications/dialog.md
  docfx/jp/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

Update hgrid Styling topic code snippet
  doc/en/components/grids/_shared/column-hiding.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

docs(stepper): refactor stepper topic
  doc/en/components/layouts/stepper.md
  doc/en/images/stepper/stepper-contentTop.png
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

docs(stepper): fix linear mode code-snippets
  doc/en/components/layouts/stepper.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml
