Repository IgniteUI/igniteui-xplat-docs: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

azure-pipelines/azure-pipelines-jp.yml:
  name: $(BuildDefinitionName)_$(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  stages:
  - stage: Build
    pool:
      name: BuildAgentOnPrem
      demands: npm
    jobs:
    - job: BuildDocs
      steps:
      - task: NodeTool@0
        inputs:
          versionSource: spec
          versionSpec: 16.x
  ...

azure-pipelines/azure-pipelines.yml:
  schedules:
  - cron: '*/30 * * * *'
    displayName: Stability verification schedule
    branches:
      include:
      - azure-pipelines
    always: true
  name: $(BuildDefinitionName)_$(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  stages:
  - stage: Build
    pool:
      name: BuildAgentOnPrem
      demands: npm
    jobs:
  ...

azure-pipelines/build-pipeline-jp+kr.yml:
  name: $(BuildDefinitionName)_$(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  stages:
  - stage: Build
    pool:
      name: BuildAgentOnPrem
      demands: npm
    jobs:
    - job: BuildDocs
      steps:
      - checkout: self
      - task: NodeTool@0
        inputs:
          versionSource: spec
          versionSpec: 16.x
  ...

azure-pipelines/build-pipeline-multi-job-jp+kr.yml:
  name: $(BuildDefinitionName)_$(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  stages:
  - stage: Build
    pool:
      name: BuildAgentOnPrem
      demands: npm
    jobs:
    - template: templates/build-jobs-template.yml
      parameters:
        jobName: WebComponents_JP
        buildType: $(buildType)
  ...

azure-pipelines/build-pipeline.yml:
  name: $(BuildDefinitionName)_$(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  stages:
  - stage: Build
    pool:
      name: BuildAgentOnPrem
      demands: npm
    jobs:
    - job: BuildDocs
      steps:
      - checkout: self
      - task: NodeTool@0
        inputs:
          versionSource: spec
          versionSpec: 16.x
  ...

fix(docs): update Grid Lite installation and usage instructions, snippet updates
  doc/jp/components/general-getting-started-oss.md
  doc/jp/components/grid-lite/overview.md
  doc/jp/components/grids/data-grid.md
  doc/jp/components/grids/hierarchical-grid/overview.md
  docfx/jp/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

chore: add changelog for the react patch (#1884)
  doc/en/components/general-changelog-dv-react.md
  docConfig.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Update JA for #1884
  doc/jp/components/general-changelog-dv-react.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

[JA] Update Grid Lite installation and usage instructions, snippet updates (#1885)
  doc/jp/components/general-changelog-dv-react.md
  doc/jp/components/general-getting-started-oss.md
  doc/jp/components/grid-lite/overview.md
  doc/jp/components/grids/data-grid.md
  doc/jp/components/grids/hierarchical-grid/overview.md
  docfx/jp/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

fix(grid-lite): included missing sections and added more detailed setup snippets
  doc/en/components/grid-lite/overview.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

doc(grid-lite): revert excessive changes, fix inaccuracies & adjust content
  doc/en/components/grid-lite/binding.md
  doc/en/components/grid-lite/cell-template.md
  doc/en/components/grid-lite/column-configuration.md
  doc/en/components/grid-lite/filtering.md
  doc/en/components/grid-lite/header-template.md
  doc/en/components/grid-lite/sorting.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Update grid-lite docs for v0.1.0-v0.3.1 breaking changes (#1873)
  doc/en/components/grid-lite/binding.md
  doc/en/components/grid-lite/cell-template.md
  doc/en/components/grid-lite/column-configuration.md
  doc/en/components/grid-lite/filtering.md
  doc/en/components/grid-lite/header-template.md
  doc/en/components/grid-lite/sorting.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

add stale action
  .github/workflows/pr-stale.yml
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

update readme
  README.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

mdd-2873enhancement
  doc/en/components/charts/types/data-pie-chart.md
  doc/en/components/general-changelog-dv-blazor.md
  doc/en/components/general-changelog-dv-react.md
  doc/en/components/general-changelog-dv-wc.md
  doc/en/components/general-changelog-dv.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Update JA topics with the latest Grid Lite changes #1873
  doc/jp/components/grid-lite/binding.md
  doc/jp/components/grid-lite/cell-template.md
  doc/jp/components/grid-lite/column-configuration.md
  doc/jp/components/grid-lite/filtering.md
  doc/jp/components/grid-lite/header-template.md
  doc/jp/components/grid-lite/sorting.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

Add localization topic for WC and React
  doc/en/components/localization.md
  docfx/en/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Add Blazor sections and tweak the other platforms.
  doc/en/components/localization.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

add(topic): added remote filtering and virtualization to docs
  doc/en/components/grids/_shared/remote-data-operations.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Create labels-cleanup.yml
  .github/workflows/labels-cleanup.yml
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

(docs): update-grid-lite-marketing-talk
  doc/en/components/grid-lite/overview.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

fix(grid-lite): fixing angular mentions, wc paragraph reworded
  doc/en/components/grid-lite/overview.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Update Grid Lite Getting started (#1898)
  doc/en/components/grid-lite/overview.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

fix(*): toc changes for new changelogs
  doc/en/components/general-changelog-react-dv.md
  doc/en/components/general-changelog-react-excel.md
  doc/en/components/general-changelog-react-general.md
  doc/en/components/general-changelog-react-grids.md
  doc/en/components/general-changelog-react-spreadsheet.md
  doc/en/components/general-changelog-wc-dv.md
  doc/en/components/general-changelog-wc-excel.md
  doc/en/components/general-changelog-wc-general.md
  doc/en/components/general-changelog-wc-grids.md
  doc/en/components/general-changelog-wc-spreadsheet.md
  doc/en/components/update-guide.md
  docfx/en/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Update JA Grid Lite overview topic #1898
  doc/jp/components/grid-lite/overview.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

add(docs): added snippets for grid theme aplpy & switching
  doc/en/components/grids/theming-grid.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

fix(docs): Updated styling overview topic
  doc/en/components/grids/theming-grid.md
  doc/en/components/themes/overview.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

add changelog per package
  doc/en/components/changelog/igniteui-charts.md
  doc/en/components/changelog/igniteui-core.md
  doc/en/components/changelog/igniteui-dashboards.md
  doc/en/components/changelog/igniteui-data-grids.md
  doc/en/components/changelog/igniteui-datasources.md
  doc/en/components/changelog/igniteui-dc3.md
  doc/en/components/changelog/igniteui-dockmanager.md
  doc/en/components/changelog/igniteui-excel.md
  doc/en/components/changelog/igniteui-gauges.md
  doc/en/components/changelog/igniteui-grids.md
  doc/en/components/changelog/igniteui-inputs.md
  doc/en/components/changelog/igniteui-layouts.md
  doc/en/components/changelog/igniteui-maps.md
  doc/en/components/changelog/igniteui-spreadsheet-chart-adapter.md
  doc/en/components/changelog/igniteui-spreadsheet.md
  doc/en/components/changelog/igniteui-webcomponents.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

add changelog metadata
  doc/en/components/changelog/igniteui-charts.md
  doc/en/components/changelog/igniteui-core.md
  doc/en/components/changelog/igniteui-dashboards.md
  doc/en/components/changelog/igniteui-data-grids.md
  doc/en/components/changelog/igniteui-datasources.md
  doc/en/components/changelog/igniteui-dc3.md
  doc/en/components/changelog/igniteui-dockmanager.md
  doc/en/components/changelog/igniteui-excel.md
  doc/en/components/changelog/igniteui-gauges.md
  doc/en/components/changelog/igniteui-grids.md
  doc/en/components/changelog/igniteui-inputs.md
  doc/en/components/changelog/igniteui-layouts.md
  doc/en/components/changelog/igniteui-maps.md
  doc/en/components/changelog/igniteui-spreadsheet-chart-adapter.md
  doc/en/components/changelog/igniteui-spreadsheet.md
  doc/en/components/changelog/igniteui-webcomponents.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

JA- DataPieChart enhancements #1889
  doc/jp/components/charts/types/data-pie-chart.md
  doc/jp/components/general-changelog-dv-blazor.md
  doc/jp/components/general-changelog-dv-react.md
  doc/jp/components/general-changelog-dv-wc.md
  doc/jp/components/general-changelog-dv.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

mdd-3026-step1-part1-changlog
  doc/en/components/changelog/igniteui-dockmanager.md
  doc/en/components/changelog/igniteui-webcomponents.md
  docConfig.json
  docfx/en/components/toc.json
  stats/docStats-WC.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Create igniteui-react.md
  doc/en/components/changelog/igniteui-react.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

fix(dockmanager): use defineComponents
  doc/jp/components/layouts/dock-manager.md
  doc/kr/components/layouts/dock-manager.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

feat: add mcp.md in the theming topics
  doc/en/components/themes/mcp.md
  docfx/en/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Update mcp.md
  doc/en/components/themes/mcp.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

refactor: theming mcp docs
  doc/en/components/themes/mcp.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

docs: add changelog for wc-xplat 7.0.0
  doc/en/components/general-changelog-dv-wc.md
  docConfig.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

docs: change the structure a bit
  doc/en/components/general-changelog-dv-wc.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

docs: remove one of the bullets not relevant to WC
  doc/en/components/general-changelog-dv-wc.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

docs: update changelog with new PDF export functionality and Popover API enhancements
  doc/en/components/general-changelog-dv-wc.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Merge pull request #1908 from IgniteUI/dkamburov/changlog-wc-7.0.0
  doc/en/components/general-changelog-dv-wc.md
  docConfig.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

docs(skills): modifying toc to match angular
  doc/en/components/ai/skills.md
  doc/en/components/ai/theming-mcp.md
  docfx/en/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

feat: add mcp.md, skills.md topics (#1907)
  doc/en/components/ai/skills.md
  doc/en/components/ai/theming-mcp.md
  docfx/en/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

feat: update changelog for react common and grids 19.5.1
  doc/en/components/general-changelog-dv-react.md
  docConfig.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

feat: update changelog for react common and grids 19.5.1 (#1912)
  doc/en/components/general-changelog-dv-react.md
  docConfig.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Path conditions:
  azure-pipelines/azure-pipelines-jp.yml: any file but: en
  azure-pipelines/azure-pipelines.yml: any file but: jp, kr
  azure-pipelines/build-pipeline-jp+kr.yml: any file but: **/en
  azure-pipelines/build-pipeline-multi-job-jp+kr.yml: any file but: **/en
  azure-pipelines/build-pipeline.yml: any file but: **/jp, **/kr
