Repository IgniteUI/igniteui-xplat-docs: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

azure-pipelines/azure-pipelines-jp.yml:
  name: $(BuildDefinitionName)_$(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  stages:
  - stage: Build
    pool:
      name: BuildAgentOnPrem
      demands: npm
    jobs:
    - job: BuildDocs
      steps:
      - task: NodeTool@0
        inputs:
          versionSource: spec
          versionSpec: 16.x
  ...

azure-pipelines/azure-pipelines.yml:
  schedules:
  - cron: '*/30 * * * *'
    displayName: Stability verification schedule
    branches:
      include:
      - azure-pipelines
    always: true
  name: $(BuildDefinitionName)_$(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  stages:
  - stage: Build
    pool:
      name: BuildAgentOnPrem
      demands: npm
    jobs:
  ...

azure-pipelines/build-pipeline-jp+kr.yml:
  name: $(BuildDefinitionName)_$(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  stages:
  - stage: Build
    pool:
      name: BuildAgentOnPrem
      demands: npm
    jobs:
    - job: BuildDocs
      steps:
      - checkout: self
      - task: NodeTool@0
        inputs:
          versionSource: spec
          versionSpec: 16.x
  ...

azure-pipelines/build-pipeline-multi-job-jp+kr.yml:
  name: $(BuildDefinitionName)_$(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  stages:
  - stage: Build
    pool:
      name: BuildAgentOnPrem
      demands: npm
    jobs:
    - template: templates/build-jobs-template.yml
      parameters:
        jobName: WebComponents_JP
        buildType: $(buildType)
  ...

azure-pipelines/build-pipeline.yml:
  name: $(BuildDefinitionName)_$(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  stages:
  - stage: Build
    pool:
      name: BuildAgentOnPrem
      demands: npm
    jobs:
    - job: BuildDocs
      steps:
      - checkout: self
      - task: NodeTool@0
        inputs:
          versionSource: spec
          versionSpec: 16.x
  ...

tmp exclude tree-grid children
  docfx/en/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

tmp exlcuded tree-grid children topics
  docfx/jp/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

mdd-CHANGELOG-update-blazor
  doc/en/components/general-changelog-dv-blazor.md
  docConfig.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

mdd-update-WC_Changelog
  doc/en/components/general-changelog-dv-wc.md
  doc/en/components/general-changelog-dv.md
  docConfig.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Update excel-library.md
  doc/en/components/excel-library.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

fixed multi-combo link to sample
  doc/en/components/editors/multi-column-combobox.md
  doc/jp/components/editors/multi-column-combobox.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

moved grids/combo to inputs/combo
  docfx/en/components/toc.json
  docfx/jp/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

improved API topics
  doc/en/components/charts/chart-api.md
  doc/en/components/charts/types/donut-chart.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

improved changelog
  doc/en/components/general-changelog-dv-blazor.md
  doc/en/components/general-changelog-dv-wc.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

mt-fix-code-snippets
  doc/en/components/excel-library-working-with-grids.md
  doc/en/components/excel-utility.md
  doc/en/components/general-changelog-dv-wc.md
  doc/en/components/general-getting-started-blazor-client.md
  doc/en/components/general-getting-started-blazor-maui.md
  doc/en/components/general-getting-started.md
  doc/en/components/general-nuget-feed.md
  doc/en/components/geo-map-binding-data-csv.md
  doc/en/components/geo-map-binding-data-model.md
  doc/en/components/geo-map-binding-multiple-sources.md
  doc/en/components/geo-map-display-heat-imagery.md
  doc/en/components/geo-map-resources-esri.md
  doc/en/components/geo-map-type-scatter-bubble-series.md
  doc/en/components/geo-map-type-scatter-contour-series.md
  doc/en/components/geo-map-type-shape-polyline-series.md
  doc/en/components/grids/_shared/column-resizing.md
  doc/en/components/grids/_shared/conditional-cell-styling.md
  doc/en/components/grids/_shared/row-drag.md
  doc/en/components/grids/_shared/row-selection.md
  doc/en/components/grids/data-grid.md
  doc/en/components/grids/data-grid/column-chooser.md
  doc/en/components/grids/data-grid/column-pinning.md
  doc/en/components/grids/data-grid/column-summaries.md
  doc/en/components/grids/data-grid/column-types.md
  doc/en/components/grids/data-grid/remote-data.md
  doc/en/components/grids/data-grid/type-sparkline-table.md
  doc/en/components/grids/grid/paste-excel.md
  doc/en/components/grids/pivot-grid/features.md
  doc/en/components/grids/pivot-grid/overview.md
  doc/en/components/layouts/dock-manager.md
  doc/en/components/radial-gauge.md
  doc/en/components/spreadsheet-overview.md
  doc/en/components/zoomslider-overview.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

added mm/yyyy to package versions
  docConfig.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

remove ReleaseStatus vars
  docConfig.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

replaced <pre> with cmd code
  doc/en/components/bullet-graph.md
  doc/en/components/editors/date-picker.md
  doc/en/components/editors/multi-column-combobox.md
  doc/en/components/excel-library.md
  doc/en/components/general-cli-overview.md
  doc/en/components/general-getting-started.md
  doc/en/components/general-nuget-feed.md
  doc/en/components/geo-map.md
  doc/en/components/grids/data-grid/overview.md
  doc/en/components/layouts/dock-manager.md
  doc/en/components/linear-gauge.md
  doc/en/components/radial-gauge.md
  doc/en/components/spreadsheet-overview.md
  doc/en/components/zoomslider-overview.md
  doc/jp/components/bullet-graph.md
  doc/jp/components/editors/date-picker.md
  doc/jp/components/editors/multi-column-combobox.md
  doc/jp/components/excel-library.md
  doc/jp/components/general-cli-overview.md
  doc/jp/components/general-getting-started.md
  doc/jp/components/geo-map.md
  doc/jp/components/grids/data-grid/overview.md
  doc/jp/components/layouts/dock-manager.md
  doc/jp/components/linear-gauge.md
  doc/jp/components/radial-gauge.md
  doc/jp/components/spreadsheet-overview.md
  doc/jp/components/zoomslider-overview.md
  doc/kr/components/editors/date-picker.md
  doc/kr/components/editors/multi-column-combobox.md
  doc/kr/components/general-cli-overview.md
  doc/kr/components/general-licensing.md
  doc/kr/components/inputs/form.md
  doc/kr/components/menus/navbar.md
  doc/kr/components/scheduling/calendar.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

improved geo api topic
  doc/en/components/maps/map-api.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Adding changes up to 4 Apr '23
  doc/jp/components/charts/chart-api.md
  doc/jp/components/charts/types/donut-chart.md
  doc/jp/components/excel-library-working-with-grids.md
  doc/jp/components/excel-library.md
  doc/jp/components/excel-utility.md
  doc/jp/components/general-changelog-dv-blazor.md
  doc/jp/components/general-changelog-dv-wc.md
  doc/jp/components/general-changelog-dv.md
  doc/jp/components/general-getting-started-blazor-client.md
  doc/jp/components/general-getting-started-blazor-maui.md
  doc/jp/components/general-getting-started.md
  doc/jp/components/general-nuget-feed.md
  doc/jp/components/geo-map-binding-data-csv.md
  doc/jp/components/geo-map-binding-data-model.md
  doc/jp/components/geo-map-binding-multiple-sources.md
  doc/jp/components/geo-map-display-heat-imagery.md
  doc/jp/components/geo-map-resources-esri.md
  doc/jp/components/geo-map-type-scatter-bubble-series.md
  doc/jp/components/geo-map-type-scatter-contour-series.md
  doc/jp/components/geo-map-type-shape-polyline-series.md
  doc/jp/components/grids/_shared/column-resizing.md
  doc/jp/components/grids/_shared/conditional-cell-styling.md
  doc/jp/components/grids/_shared/row-drag.md
  doc/jp/components/grids/_shared/row-selection.md
  doc/jp/components/grids/data-grid.md
  doc/jp/components/grids/data-grid/column-chooser.md
  doc/jp/components/grids/data-grid/column-pinning.md
  doc/jp/components/grids/data-grid/column-summaries.md
  doc/jp/components/grids/data-grid/column-types.md
  doc/jp/components/grids/data-grid/remote-data.md
  doc/jp/components/grids/data-grid/type-sparkline-table.md
  doc/jp/components/grids/grid/paste-excel.md
  doc/jp/components/grids/pivot-grid/features.md
  doc/jp/components/grids/pivot-grid/overview.md
  doc/jp/components/layouts/dock-manager.md
  doc/jp/components/maps/map-api.md
  doc/jp/components/radial-gauge.md
  doc/jp/components/spreadsheet-overview.md
  doc/jp/components/zoomslider-overview.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

fix-api-links
  doc/en/components/charts/types/polar-chart.md
  doc/en/components/maps/map-api.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

revert api fix
  doc/en/components/charts/types/polar-chart.md
  doc/en/components/maps/map-api.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

mdd-update-docsConfig.WC
  docConfig.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

fix headers
  doc/en/components/general-changelog-dv-blazor.md
  doc/en/components/general-changelog-dv-react.md
  doc/en/components/general-changelog-dv-wc.md
  doc/en/components/general-changelog-dv.md
  doc/jp/components/general-changelog-dv-blazor.md
  doc/jp/components/general-changelog-dv-react.md
  doc/jp/components/general-changelog-dv-wc.md
  doc/jp/components/general-changelog-dv.md
  docConfig.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

chore(*): dotnet tool restore at npm postinstall
  README.md
  package-lock.json
  package.json
  yarn.lock
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Minor change
  doc/jp/components/charts/types/polar-chart.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

Localized content
  doc/jp/components/charts/chart-api.md
  doc/jp/components/general-changelog-dv-blazor.md
  doc/jp/components/general-changelog-dv-wc.md
  doc/jp/components/maps/map-api.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

Additional fixes.
  doc/jp/components/general-changelog-dv-blazor.md
  doc/jp/components/general-changelog-dv-wc.md
  doc/jp/components/grids/_shared/excel-style-filtering.md
  doc/jp/components/grids/data-grid/column-summaries.md
  doc/jp/components/inputs/select.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

update package to ignore failed nuget restores
  package.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Advanced Filtering topic : Change WC snippet, some minor changes
  doc/en/components/grids/_shared/advanced-filtering.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

mdd-update-with-15.1.0
  doc/en/components/general-changelog-dv-blazor.md
  doc/en/components/general-changelog-dv-wc.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

mdd-update-formatting-changelog
  doc/en/components/general-changelog-dv-blazor.md
  doc/en/components/general-changelog-dv-wc.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

shift the layout around
  doc/en/components/general-changelog-dv-blazor.md
  doc/en/components/general-changelog-dv-wc.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Update docConfig.json
  docConfig.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

chore(*): updating docfx-template to 3.5.0
  package-lock.json
  package.json
  yarn.lock
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Adding localization changes up to 7 April
  doc/jp/components/general-changelog-dv-blazor.md
  doc/jp/components/general-changelog-dv-react.md
  doc/jp/components/general-changelog-dv-wc.md
  doc/jp/components/general-changelog-dv.md
  doc/jp/components/grids/_shared/advanced-filtering.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

mdd-capialize-properties-blazor
  doc/en/components/general-changelog-dv-blazor.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Update general-changelog-dv-blazor.md
  doc/en/components/general-changelog-dv-blazor.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

mdd-doc-fixes
  doc/en/components/general-changelog-dv-wc.md
  doc/en/components/grids/_shared/cell-editing.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Update column-hiding.md
  doc/en/components/grids/_shared/column-hiding.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

fixed #770
  doc/en/components/inputs/combo/overview.md
  doc/en/components/inputs/combo/single-selection.md
  doc/en/components/inputs/select.md
  doc/jp/components/inputs/combo/overview.md
  doc/jp/components/inputs/combo/single-selection.md
  doc/jp/components/inputs/select.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

added notes
  docfx/en/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

mdd-update
  doc/en/components/grids/_shared/cell-editing.md
  doc/en/components/grids/_shared/column-hiding.md
  doc/en/components/grids/_shared/paging.md
  doc/en/components/grids/_shared/remote-data-operations.md
  doc/en/components/grids/_shared/row-actions.md
  doc/en/components/grids/_shared/row-adding.md
  doc/en/components/grids/_shared/row-drag.md
  doc/en/components/grids/_shared/row-editing.md
  doc/en/components/grids/_shared/search.md
  doc/en/components/grids/_shared/state-persistence.md
  doc/en/components/grids/_shared/toolbar.md
  doc/en/components/grids/_shared/validation.md
  doc/en/components/grids/_shared/virtualization.md
  doc/en/components/grids/grid/groupby.md
  doc/jp/components/grids/_shared/state-persistence.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Update excel-library.md
  doc/kr/components/excel-library.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

Column moving topic. Change some snippets. Add some more. Remove some conditionals.
  doc/en/components/grids/_shared/column-moving.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Path conditions:
  azure-pipelines/azure-pipelines-jp.yml: any file but: en
  azure-pipelines/azure-pipelines.yml: any file but: jp, kr
  azure-pipelines/build-pipeline-jp+kr.yml: any file but: **/en
  azure-pipelines/build-pipeline-multi-job-jp+kr.yml: any file but: **/en
  azure-pipelines/build-pipeline.yml: any file but: **/jp, **/kr
