Repository IgniteUI/igniteui-xplat-docs: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

azure-pipelines/azure-pipelines-jp.yml:
  name: $(BuildDefinitionName)_$(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  stages:
  - stage: Build
    pool:
      name: BuildAgentOnPrem
      demands: npm
    jobs:
    - job: BuildDocs
      steps:
      - task: NodeTool@0
        inputs:
          versionSource: spec
          versionSpec: 16.x
  ...

azure-pipelines/azure-pipelines.yml:
  schedules:
  - cron: '*/30 * * * *'
    displayName: Stability verification schedule
    branches:
      include:
      - azure-pipelines
    always: true
  name: $(BuildDefinitionName)_$(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  stages:
  - stage: Build
    pool:
      name: BuildAgentOnPrem
      demands: npm
    jobs:
  ...

azure-pipelines/build-pipeline-jp+kr.yml:
  name: $(BuildDefinitionName)_$(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  stages:
  - stage: Build
    pool:
      name: BuildAgentOnPrem
      demands: npm
    jobs:
    - job: BuildDocs
      steps:
      - checkout: self
      - task: NodeTool@0
        inputs:
          versionSource: spec
          versionSpec: 16.x
  ...

azure-pipelines/build-pipeline-multi-job-jp+kr.yml:
  name: $(BuildDefinitionName)_$(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  stages:
  - stage: Build
    pool:
      name: BuildAgentOnPrem
      demands: npm
    jobs:
    - template: templates/build-jobs-template.yml
      parameters:
        jobName: WebComponents_JP
        buildType: $(buildType)
  ...

azure-pipelines/build-pipeline.yml:
  name: $(BuildDefinitionName)_$(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  stages:
  - stage: Build
    pool:
      name: BuildAgentOnPrem
      demands: npm
    jobs:
    - job: BuildDocs
      steps:
      - checkout: self
      - task: NodeTool@0
        inputs:
          versionSource: spec
          versionSpec: 16.x
  ...

mdd-update
  doc/en/components/general-getting-started-blazor-client.md
  doc/en/components/general-getting-started.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Add react toolbar topic
  doc/en/components/grids/_shared/toolbar.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

JA - adding Dock Manager Customization
  doc/jp/components/layouts/dock-manager-customization.md
  docfx/jp/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

fixes to the ESF topic
  doc/en/components/grids/_shared/excel-style-filtering.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

some fixes and additions
  doc/en/components/grids/_shared/advanced-filtering.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

fixes for the topic
  doc/en/components/grids/_shared/row-adding.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

small fix for reac
  doc/en/components/grids/_shared/live-data.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

fix api links for TreeMap/Tree components
  docConfig.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Remove un-needed Series mentioned Types
  doc/en/components/charts/types/area-chart.md
  doc/en/components/charts/types/bubble-chart.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Fix handleCellEdit snippet
  doc/en/components/grids/_shared/cell-editing.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Enable Additional Resources section
  doc/en/components/grids/_shared/cell-editing.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Fix section headings
  doc/en/components/grids/_shared/row-actions.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

JA - adding changes up to 27 September
  doc/jp/components/charts/types/area-chart.md
  doc/jp/components/charts/types/bubble-chart.md
  doc/jp/components/grids/list.md
  doc/jp/components/inputs/button.md
  doc/jp/components/inputs/chip.md
  doc/jp/components/inputs/icon-button.md
  doc/jp/components/inputs/input.md
  doc/jp/components/inputs/select.md
  doc/jp/components/layouts/avatar.md
  doc/jp/components/layouts/icon.md
  doc/jp/components/scheduling/calendar.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

Revert "Fix section headings"
  doc/en/components/grids/_shared/row-actions.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

cell editing update - remove cdr
  doc/en/components/grids/_shared/cell-editing.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

changing codesnippet so it works
  doc/en/components/grids/grid/groupby.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Update README.md
  README.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Fix wrong tag name
  doc/en/components/grids/_shared/row-actions.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Enable clipboard interactions topic for all platforms
  docfx/en/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

JA - more localized content
  doc/jp/components/grids/list.md
  doc/jp/components/inputs/button.md
  doc/jp/components/inputs/chip.md
  doc/jp/components/inputs/icon-button.md
  doc/jp/components/inputs/input.md
  doc/jp/components/inputs/select.md
  doc/jp/components/layouts/avatar.md
  doc/jp/components/layouts/icon.md
  doc/jp/components/scheduling/calendar.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

generate api mapping
  apiMap/Angular/DV.Shared.DESCRIPTION.JS.apiMap.json
  apiMap/Angular/WebGrids.JS.apiMap.json
  apiMap/Blazor/DV.Shared.DESCRIPTION.JS.blazor.apiMap.json
  apiMap/React/DV.Shared.DESCRIPTION.JS.r.apiMap.json
  apiMap/React/WebGrids.JS.r.apiMap.json
  apiMap/WebComponents/DV.Shared.DESCRIPTION.JS.wc.apiMap.json
  apiMap/WebComponents/WebGrids.JS.wc.apiMap.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Update yarn.lock
  yarn.lock
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Add Keyboard Navigation topic for React
  doc/en/components/grids/_shared/keyboard-navigation.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

JA topic fixes - 3 Oct 23
  doc/jp/components/grids/_shared/cell-selection.md
  doc/jp/components/grids/_shared/keyboard-navigation.md
  doc/jp/components/grids/_shared/multi-row-layout.md
  doc/jp/components/inputs/chip.md
  doc/jp/components/inputs/combo/overview.md
  doc/jp/components/inputs/icon-button.md
  doc/jp/components/inputs/select.md
  doc/jp/components/layouts/dock-manager-customization.md
  doc/jp/components/layouts/dock-manager.md
  doc/jp/components/layouts/expansion-panel.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

JA - latest localization changes
  doc/jp/components/general-getting-started-blazor-client.md
  doc/jp/components/general-getting-started.md
  doc/jp/components/grids/_shared/advanced-filtering.md
  doc/jp/components/grids/_shared/cell-editing.md
  doc/jp/components/grids/_shared/cell-selection.md
  doc/jp/components/grids/_shared/column-hiding.md
  doc/jp/components/grids/_shared/column-moving.md
  doc/jp/components/grids/_shared/column-pinning.md
  doc/jp/components/grids/_shared/column-resizing.md
  doc/jp/components/grids/_shared/column-selection.md
  doc/jp/components/grids/_shared/column-types.md
  doc/jp/components/grids/_shared/conditional-cell-styling.md
  doc/jp/components/grids/_shared/display-density.md
  doc/jp/components/grids/_shared/editing.md
  doc/jp/components/grids/_shared/excel-style-filtering.md
  doc/jp/components/grids/_shared/export-excel.md
  doc/jp/components/grids/_shared/filtering.md
  doc/jp/components/grids/_shared/live-data.md
  doc/jp/components/grids/_shared/paging.md
  doc/jp/components/grids/_shared/remote-data-operations.md
  doc/jp/components/grids/_shared/row-actions.md
  doc/jp/components/grids/_shared/row-adding.md
  doc/jp/components/grids/_shared/row-drag.md
  doc/jp/components/grids/_shared/row-editing.md
  doc/jp/components/grids/_shared/row-pinning.md
  doc/jp/components/grids/_shared/row-selection.md
  doc/jp/components/grids/_shared/search.md
  doc/jp/components/grids/_shared/selection.md
  doc/jp/components/grids/_shared/sorting.md
  doc/jp/components/grids/_shared/summaries.md
  doc/jp/components/grids/_shared/toolbar.md
  doc/jp/components/grids/data-grid.md
  doc/jp/components/grids/grid/groupby.md
  doc/jp/components/grids/grid/master-detail.md
  doc/jp/components/inputs/radio.md
  doc/jp/components/layouts/stepper.md
  doc/jp/components/themes/overview.md
  docfx/jp/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

JA - adding more localized content for Groupby topic
  doc/jp/components/grids/grid/groupby.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

Topic fixes.
  doc/jp/components/grids/_shared/cell-editing.md
  doc/jp/components/grids/_shared/column-pinning.md
  doc/jp/components/grids/_shared/excel-style-filtering.md
  doc/jp/components/grids/_shared/filtering.md
  doc/jp/components/grids/_shared/remote-data-operations.md
  doc/jp/components/grids/_shared/row-drag.md
  doc/jp/components/grids/_shared/row-selection.md
  doc/jp/components/grids/data-grid.md
  doc/jp/components/grids/grid/groupby.md
  docfx/jp/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

Updating localization in Cell Editing topic.
  doc/jp/components/grids/_shared/cell-editing.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

docs(button-group): add button group topic
  doc/en/components/inputs/button-group.md
  docfx/en/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

docs(button-group): modify the selection section of the button group topic
  doc/en/components/inputs/button-group.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

api mapping
  apiMap/Angular/DV.Shared.DESCRIPTION.JS.apiMap.json
  apiMap/Angular/DataChart.ANNOTATION.JS.apiMap.json
  apiMap/Angular/DataChart.DOUGHNUTCHART.JS.apiMap.json
  apiMap/Angular/DataChart.DomainChart.JS.apiMap.json
  apiMap/Angular/DataChart.FUNNELCHART.JS.apiMap.json
  apiMap/Angular/DataChart.JS.apiMap.json
  apiMap/Angular/DataChart.LEGEND.JS.apiMap.json
  apiMap/Angular/DataChart.PIECHART.JS.apiMap.json
  apiMap/Angular/DataChart.SHAPE.JS.apiMap.json
  apiMap/Angular/GeographicMap.JS.apiMap.json
  apiMap/Angular/Grid.JS.apiMap.json
  apiMap/Angular/MultiColumnComboBox.JS.apiMap.json
  apiMap/Angular/Toolbar.JS.apiMap.json
  apiMap/Angular/WebGrids.JS.apiMap.json
  apiMap/Blazor/DV.Shared.DESCRIPTION.JS.blazor.apiMap.json
  apiMap/Blazor/WebGrids.JS.blazor.apiMap.json
  apiMap/React/DV.Shared.DESCRIPTION.JS.r.apiMap.json
  apiMap/React/WebGrids.JS.r.apiMap.json
  apiMap/WebComponents/DV.Shared.DESCRIPTION.JS.wc.apiMap.json
  apiMap/WebComponents/WebGrids.JS.wc.apiMap.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Update code snippets with latest API names from WC.
  doc/en/components/grids/_shared/row-drag.md
  doc/en/components/grids/_shared/search.md
  doc/en/components/grids/_shared/selection.md
  doc/en/components/grids/_shared/summaries.md
  doc/en/components/layouts/avatar.md
  doc/en/components/layouts/card.md
  doc/en/components/layouts/icon.md
  doc/en/components/menus/navigation-drawer.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

fix(docs): removed mentions of browser in electron
  doc/en/components/layouts/dock-manager-electron.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Add snippets and correct sample for collapsible col groups.
  doc/en/components/grids/_shared/collapsible-column-groups.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Update cell API name for some of the topics
  doc/en/components/grids/_shared/cell-editing.md
  doc/en/components/grids/_shared/column-types.md
  doc/en/components/grids/_shared/selection.md
  doc/en/components/grids/data-grid.md
  doc/en/components/grids/grid/master-detail.md
  doc/en/components/grids/grid/selection-based-aggregates.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Add cascading combo - react snippets.
  doc/en/components/grids/_shared/cascading-combos.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Minor changes due to function syntax.
  doc/en/components/grids/_shared/cascading-combos.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

chore(*): grid-features-description-updates
  doc/en/components/grids/_shared/advanced-filtering.md
  doc/en/components/grids/_shared/batch-editing.md
  doc/en/components/grids/_shared/cascading-combos.md
  doc/en/components/grids/_shared/cell-editing.md
  doc/en/components/grids/_shared/cell-selection.md
  doc/en/components/grids/_shared/clipboard-interactions.md
  doc/en/components/grids/_shared/collapsible-column-groups.md
  doc/en/components/grids/_shared/column-hiding.md
  doc/en/components/grids/_shared/column-moving.md
  doc/en/components/grids/_shared/column-pinning.md
  doc/en/components/grids/_shared/column-resizing.md
  doc/en/components/grids/_shared/column-selection.md
  doc/en/components/grids/_shared/column-types.md
  doc/en/components/grids/_shared/conditional-cell-styling.md
  doc/en/components/grids/_shared/display-density.md
  doc/en/components/grids/_shared/editing.md
  doc/en/components/grids/_shared/excel-style-filtering.md
  doc/en/components/grids/_shared/export-excel.md
  doc/en/components/grids/_shared/filtering.md
  doc/en/components/grids/_shared/keyboard-navigation.md
  doc/en/components/grids/_shared/live-data.md
  doc/en/components/grids/_shared/multi-column-headers.md
  doc/en/components/grids/_shared/multi-row-layout.md
  doc/en/components/grids/_shared/paging.md
  doc/en/components/grids/_shared/remote-data-operations.md
  doc/en/components/grids/_shared/row-actions.md
  doc/en/components/grids/_shared/row-adding.md
  doc/en/components/grids/_shared/row-drag.md
  doc/en/components/grids/_shared/row-editing.md
  doc/en/components/grids/_shared/row-pinning.md
  doc/en/components/grids/_shared/row-selection.md
  doc/en/components/grids/_shared/search.md
  doc/en/components/grids/_shared/selection.md
  doc/en/components/grids/_shared/sizing.md
  doc/en/components/grids/_shared/sorting.md
  doc/en/components/grids/_shared/state-persistence.md
  doc/en/components/grids/_shared/summaries.md
  doc/en/components/grids/_shared/toolbar.md
  doc/en/components/grids/_shared/validation.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Path conditions:
  azure-pipelines/azure-pipelines-jp.yml: any file but: en
  azure-pipelines/azure-pipelines.yml: any file but: jp, kr
  azure-pipelines/build-pipeline-jp+kr.yml: any file but: **/en
  azure-pipelines/build-pipeline-multi-job-jp+kr.yml: any file but: **/en
  azure-pipelines/build-pipeline.yml: any file but: **/jp, **/kr
