Repository IgniteUI/igniteui-xplat-docs: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Path conditions:
  azure-pipelines/azure-pipelines-jp.yml: any file but: en
  azure-pipelines/azure-pipelines.yml: any file but: jp, kr
  azure-pipelines/build-pipeline-jp+kr.yml: any file but: **/en
  azure-pipelines/build-pipeline-multi-job-jp+kr.yml: any file but: **/en
  azure-pipelines/build-pipeline.yml: any file but: **/jp, **/kr

fix(*): Update splitter docking sub-section to resemble edge docking
  doc/en/components/layouts/dock-manager.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

feat(*): Added autoscrolling details to use fixed size section
  doc/en/components/layouts/dock-manager-customization.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

feat(*): Added resize target highlighting details
  doc/en/components/layouts/dock-manager-customization.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

fix(esf): Edit Configure Menu Features code snippet so that it matches the sample
  doc/en/components/grids/_shared/excel-style-filtering.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

fix(sample): updated sample iframe height not to cut off color picker (#1853)
  doc/en/components/inputs/color-editor.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Replace Sketch references with Figma in documentation (#1861)
  doc/en/components/charts/chart-overview.md
  doc/en/components/general-getting-started.md
  doc/jp/components/charts/chart-overview.md
  doc/jp/components/general-getting-started.md
  doc/kr/components/charts/chart-overview.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Update snippets so they match samples.
  doc/en/components/grids/_shared/cell-editing.md
  doc/jp/components/grids/_shared/cell-editing.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

docs(icon): add custom sizing
  doc/en/components/layouts/icon.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Update styling snippet for Tabs
  doc/en/components/layouts/tabs.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Update Japanese docs with the latest Dock Manager changes, some minor fixes
  doc/jp/components/general-licensing.md
  doc/jp/components/general-open-source-vs-premium.md
  doc/jp/components/inputs/badge.md
  doc/jp/components/inputs/color-editor.md
  doc/jp/components/layouts/dock-manager-customization.md
  doc/jp/components/layouts/dock-manager.md
  doc/jp/components/layouts/icon.md
  doc/jp/components/layouts/tabs.md
  doc/jp/images/dockmanager-edge-docking.jpg
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

docs(keyboard-navigation): enable topics for keynav for hgrid & tgrid
  doc/en/components/grids/_shared/keyboard-navigation.md
  docfx/en/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

add(docs): Enabled React and fixed docs to show only completed samples
  doc/en/components/grids/_shared/keyboard-navigation.md
  docfx/en/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

fix(export): add pdf export to grids
  doc/en/components/grids/_shared/export-excel.md
  docfx/en/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

fix(exporter): mention all formats
  doc/en/components/grids/_shared/export-excel.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Update snippets so they match samples. (#1862)
  doc/en/components/grids/_shared/cell-editing.md
  doc/jp/components/grids/_shared/cell-editing.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

fix(styling): edit styling snippets for tabs, checkbox, badge, tree, dateTimeInput
  doc/en/components/grids/tree.md
  doc/en/components/inputs/badge.md
  doc/en/components/inputs/checkbox.md
  doc/en/components/inputs/date-time-input.md
  doc/en/components/layouts/tabs.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

JA - update Export Excel topic #1871
  doc/jp/components/grids/_shared/export-excel.md
  docfx/jp/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

Code snippet fix
  doc/jp/components/grids/_shared/export-excel.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

feat(query-builder): add query builder related topic
  doc/en/components/inputs/query-builder.md
  doc/en/images/general/query-builder-drag-and-drop.gif
  doc/en/images/general/query-builder-keyboard-drag-and-drop.gif
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

update(topic): added search count section for React
  doc/en/components/grids/_shared/search.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

update(topic): updated info to show for grid & treeGrid, excluding hgrid
  doc/en/components/grids/_shared/search.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

mdd-angular-21
  doc/en/components/general-changelog-dv.md
  docConfig.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

fix(switch): Update styling css snippet
  doc/en/components/inputs/switch.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Edit styling snippets for tabs, checkbox, badge, tree, dateTimeInput (#1872)
  doc/en/components/grids/tree.md
  doc/en/components/inputs/badge.md
  doc/en/components/inputs/checkbox.md
  doc/en/components/inputs/date-time-input.md
  doc/en/components/inputs/switch.md
  doc/en/components/layouts/tabs.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Update doc/en/components/inputs/query-builder.md
  doc/en/components/inputs/query-builder.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Adding the latest updates
  doc/jp/components/general-changelog-dv.md
  doc/jp/components/grids/tree.md
  doc/jp/components/inputs/badge.md
  doc/jp/components/inputs/checkbox.md
  doc/jp/components/inputs/date-time-input.md
  doc/jp/components/inputs/switch.md
  doc/jp/components/layouts/tabs.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

feat: add react snippets
  doc/en/components/inputs/query-builder.md
  docfx/en/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Update snippets for React in overview topic
  doc/en/components/grids/data-grid.md
  doc/en/components/grids/hierarchical-grid/overview.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Undo some linting
  doc/en/components/grids/hierarchical-grid/overview.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Update autoGenerate snippets in React
  doc/en/components/grids/data-grid.md
  doc/en/components/grids/hierarchical-grid/overview.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

feat(grid-lite): add topic for grid lite Getting Started for React and WC
  doc/en/components/general-getting-started-oss.md
  docfx/en/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

feat(grid-lite): Adding Grid lite setup link to Overview topic
  doc/en/components/grid-lite/overview.md
  docfx/en/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

feat(grid-lite): move all grid lite documentation to overview topic
  doc/en/components/general-getting-started-oss.md
  doc/en/components/grid-lite/overview.md
  docfx/en/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

feat(grid-lite): restructure topics content for Blazor
  doc/en/components/general-getting-started-oss.md
  doc/en/components/grid-lite/overview.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

feat(grid-lite): resolve copilot comments
  doc/en/components/grid-lite/overview.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

modifying grid lite getting started text
  doc/en/components/grid-lite/overview.md
  stats/docStats-WC.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

fix(grid-lite): ensuring react code is run
  doc/en/components/grid-lite/overview.md
  stats/docStats-React.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Update autoGenerate snippets in React (#1880)
  doc/en/components/grids/data-grid.md
  doc/en/components/grids/hierarchical-grid/overview.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

chore: add changelog for the react patch
  doc/en/components/general-changelog-dv-react.md
  docConfig.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml
