Repository IgniteUI/igniteui-xplat-docs: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Path conditions:
  azure-pipelines/azure-pipelines-jp.yml: any file but: en
  azure-pipelines/azure-pipelines.yml: any file but: jp, kr
  azure-pipelines/build-pipeline-jp+kr.yml: any file but: **/en
  azure-pipelines/build-pipeline-multi-job-jp+kr.yml: any file but: **/en
  azure-pipelines/build-pipeline.yml: any file but: **/jp, **/kr

Update chart-highlight-filter.md
  doc/en/components/charts/features/chart-highlight-filter.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Create chart highlight filter topic (#1096)
  doc/en/components/charts/features/chart-highlight-filter.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

[Localization] Latest doc changes (#1094)
  doc/jp/components/charts/types/column-chart.md
  doc/jp/components/general-getting-started-blazor-client.md
  doc/jp/components/general-getting-started.md
  doc/jp/components/grids/_shared/cell-editing.md
  doc/jp/components/grids/_shared/cell-selection.md
  doc/jp/components/grids/tree-grid/overview.md
  doc/jp/components/inputs/dropdown.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

docs(*): add reference to getting started topic
  doc/en/components/general-getting-started.md
  doc/en/components/grids/list.md
  doc/en/components/grids/tree.md
  doc/en/components/inputs/badge.md
  doc/en/components/inputs/button-group.md
  doc/en/components/inputs/button.md
  doc/en/components/inputs/checkbox.md
  doc/en/components/inputs/chip.md
  doc/en/components/inputs/circular-progress.md
  doc/en/components/inputs/combo/overview.md
  doc/en/components/inputs/date-time-input.md
  doc/en/components/inputs/dropdown.md
  doc/en/components/inputs/form.md
  doc/en/components/inputs/icon-button.md
  doc/en/components/inputs/input.md
  doc/en/components/inputs/linear-progress.md
  doc/en/components/inputs/mask-input.md
  doc/en/components/inputs/radio.md
  doc/en/components/inputs/rating.md
  doc/en/components/inputs/ripple.md
  doc/en/components/inputs/select.md
  doc/en/components/inputs/slider.md
  doc/en/components/inputs/switch.md
  doc/en/components/layouts/accordion.md
  doc/en/components/layouts/avatar.md
  doc/en/components/layouts/card.md
  doc/en/components/layouts/expansion-panel.md
  doc/en/components/layouts/icon.md
  doc/en/components/layouts/stepper.md
  doc/en/components/layouts/tabs.md
  doc/en/components/menus/navbar.md
  doc/en/components/menus/navigation-drawer.md
  doc/en/components/notifications/dialog.md
  doc/en/components/notifications/snackbar.md
  doc/en/components/notifications/toast.md
  doc/en/components/scheduling/calendar.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Update state persistence topic with latest api changes and separate sections when needed.
  doc/en/components/grids/_shared/state-persistence.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Fix inconsistency between topic and sample
  doc/en/components/grids/pivot-grid/overview.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Adding Chart Highlight Filter topic - JA.
  doc/jp/components/charts/features/chart-highlight-filter.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

Updating JP for #1097
  doc/jp/components/general-getting-started.md
  doc/jp/components/grids/list.md
  doc/jp/components/grids/tree.md
  doc/jp/components/inputs/badge.md
  doc/jp/components/inputs/button-group.md
  doc/jp/components/inputs/button.md
  doc/jp/components/inputs/checkbox.md
  doc/jp/components/inputs/chip.md
  doc/jp/components/inputs/circular-progress.md
  doc/jp/components/inputs/combo/overview.md
  doc/jp/components/inputs/date-time-input.md
  doc/jp/components/inputs/dropdown.md
  doc/jp/components/inputs/form.md
  doc/jp/components/inputs/icon-button.md
  doc/jp/components/inputs/input.md
  doc/jp/components/inputs/linear-progress.md
  doc/jp/components/inputs/mask-input.md
  doc/jp/components/inputs/radio.md
  doc/jp/components/inputs/rating.md
  doc/jp/components/inputs/ripple.md
  doc/jp/components/inputs/select.md
  doc/jp/components/inputs/slider.md
  doc/jp/components/inputs/switch.md
  doc/jp/components/layouts/accordion.md
  doc/jp/components/layouts/avatar.md
  doc/jp/components/layouts/card.md
  doc/jp/components/layouts/expansion-panel.md
  doc/jp/components/layouts/icon.md
  doc/jp/components/layouts/stepper.md
  doc/jp/components/layouts/tabs.md
  doc/jp/components/menus/navbar.md
  doc/jp/components/menus/navigation-drawer.md
  doc/jp/components/notifications/dialog.md
  doc/jp/components/notifications/snackbar.md
  doc/jp/components/notifications/toast.md
  doc/jp/components/scheduling/calendar.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

Fix inconsistency between topic and sample (#1098)
  doc/en/components/grids/pivot-grid/overview.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

update getting started (#1074)
  doc/en/components/general-getting-started.md
  doc/en/images/general/grid-geo-map.png
  docConfig.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Add tree grid filtering topic with snippets. (#874)
  doc/en/components/grids/_shared/filtering.md
  docfx/en/components/toc.json
  docfx/jp/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Disable back tree grid state persistence.
  docfx/en/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

JA - localized content
  doc/jp/components/general-getting-started.md
  doc/jp/components/grids/list.md
  doc/jp/components/grids/tree.md
  doc/jp/components/inputs/badge.md
  doc/jp/components/inputs/button-group.md
  doc/jp/components/inputs/button.md
  doc/jp/components/inputs/checkbox.md
  doc/jp/components/inputs/chip.md
  doc/jp/components/inputs/circular-progress.md
  doc/jp/components/inputs/date-time-input.md
  doc/jp/components/inputs/dropdown.md
  doc/jp/components/inputs/form.md
  doc/jp/components/inputs/icon-button.md
  doc/jp/components/inputs/input.md
  doc/jp/components/inputs/linear-progress.md
  doc/jp/components/inputs/mask-input.md
  doc/jp/components/inputs/radio.md
  doc/jp/components/inputs/rating.md
  doc/jp/components/inputs/ripple.md
  doc/jp/components/inputs/select.md
  doc/jp/components/inputs/slider.md
  doc/jp/components/inputs/switch.md
  doc/jp/components/layouts/accordion.md
  doc/jp/components/layouts/avatar.md
  doc/jp/components/layouts/card.md
  doc/jp/components/layouts/expansion-panel.md
  doc/jp/components/layouts/icon.md
  doc/jp/components/layouts/stepper.md
  doc/jp/components/layouts/tabs.md
  doc/jp/components/menus/navbar.md
  doc/jp/components/menus/navigation-drawer.md
  doc/jp/components/notifications/dialog.md
  doc/jp/components/notifications/snackbar.md
  doc/jp/components/notifications/toast.md
  doc/jp/components/scheduling/calendar.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

Adding the latest changes - getting started, filtering, pivot grid.
  doc/jp/components/general-getting-started.md
  doc/jp/components/grids/_shared/filtering.md
  doc/jp/components/grids/pivot-grid/overview.md
  doc/jp/images/general/grid-geo-map.png
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

Topic fixes after testing.
  doc/jp/components/grids/_shared/cell-editing.md
  doc/jp/components/grids/_shared/column-moving.md
  doc/jp/components/grids/_shared/live-data.md
  doc/jp/components/grids/_shared/search.md
  doc/jp/components/inputs/chip.md
  doc/jp/components/inputs/circular-progress.md
  doc/jp/components/inputs/combo/overview.md
  doc/jp/components/inputs/input.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

Update and enable state persistence topic with latest changes. (#1086)
  doc/en/components/grids/_shared/state-persistence.md
  docfx/en/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Update mch template sample link.
  doc/en/components/grids/_shared/multi-column-headers.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Update mch template sample link. (#1100)
  doc/en/components/grids/_shared/multi-column-headers.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Updating State Persistence topic - JA, other fixes.
  doc/jp/components/grids/_shared/cell-editing.md
  doc/jp/components/grids/_shared/column-types.md
  doc/jp/components/grids/_shared/multi-column-headers.md
  doc/jp/components/grids/_shared/search.md
  doc/jp/components/grids/_shared/state-persistence.md
  docfx/jp/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

Update react and treegrid toc labels
  docfx/en/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Fix incorrect sample path.
  doc/en/components/grids/_shared/column-resizing.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Fix another url.
  doc/en/components/grids/_shared/cell-editing.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Fix another incorrect url.
  doc/en/components/grids/_shared/multi-row-layout.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Fix url so that tree grid does not refer to base grid sample.
  doc/en/components/grids/_shared/column-pinning.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Update react and treegrid toc labels (#1102)
  docfx/en/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Updating State Persistence topic - JA, other fixes. (#1101)
  doc/jp/components/grids/_shared/cell-editing.md
  doc/jp/components/grids/_shared/column-types.md
  doc/jp/components/grids/_shared/multi-column-headers.md
  doc/jp/components/grids/_shared/search.md
  doc/jp/components/grids/_shared/state-persistence.md
  docfx/jp/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

Fix incorrect sample paths. (#1103)
  doc/en/components/grids/_shared/cell-editing.md
  doc/en/components/grids/_shared/column-pinning.md
  doc/en/components/grids/_shared/column-resizing.md
  doc/en/components/grids/_shared/multi-row-layout.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Enable kb nav treegrid topic and fix snippets. (#915)
  doc/en/components/grids/_shared/keyboard-navigation.md
  docfx/en/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Update tree grid snippets. (#914)
  doc/en/components/grids/_shared/editing.md
  docfx/en/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

add changelog
  doc/en/components/general-changelog-dv-blazor.md
  doc/en/components/general-changelog-dv-react.md
  doc/en/components/general-changelog-dv-wc.md
  docConfig.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Enable tree grid sorting topic and update snipets. (#923)
  doc/en/components/grids/_shared/sorting.md
  docfx/en/components/toc.json
  docfx/jp/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

mdd-new-toolbar-updates
  doc/en/components/general-changelog-dv-blazor.md
  doc/en/components/general-changelog-dv-react.md
  doc/en/components/general-changelog-dv-wc.md
  doc/en/components/general-changelog-dv.md
  doc/en/components/menus/toolbar.md
  docConfig.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Updating JA with the latest topic changes and fixes.
  doc/jp/components/grids/_shared/cell-editing.md
  doc/jp/components/grids/_shared/column-pinning.md
  doc/jp/components/grids/_shared/column-resizing.md
  doc/jp/components/grids/_shared/editing.md
  doc/jp/components/grids/_shared/keyboard-navigation.md
  doc/jp/components/grids/_shared/multi-row-layout.md
  doc/jp/components/grids/_shared/sorting.md
  docfx/jp/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

update versions to latest
  doc/en/components/general-changelog-dv-blazor.md
  doc/en/components/general-changelog-dv-wc.md
  docConfig.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

add changelog (#1104)
  doc/en/components/general-changelog-dv-blazor.md
  doc/en/components/general-changelog-dv-react.md
  doc/en/components/general-changelog-dv-wc.md
  docConfig.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Add column moving topic to tree grid (#869)
  doc/en/components/grids/_shared/column-moving.md
  docfx/en/components/toc.json
  docfx/jp/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Update column types topic for tree grid (#879)
  doc/en/components/grids/_shared/column-types.md
  docfx/en/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Adding changelog localization, toolbar topic updates.
  doc/jp/components/general-changelog-dv-blazor.md
  doc/jp/components/general-changelog-dv-react.md
  doc/jp/components/general-changelog-dv-wc.md
  doc/jp/components/general-changelog-dv.md
  doc/jp/components/grids/_shared/column-moving.md
  doc/jp/components/grids/_shared/column-types.md
  doc/jp/components/menus/toolbar.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml
