Repository IgniteUI/igniteui-xplat-docs: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Path conditions:
  azure-pipelines/azure-pipelines-jp.yml: any file but: en
  azure-pipelines/azure-pipelines.yml: any file but: jp, kr
  azure-pipelines/build-pipeline-jp+kr.yml: any file but: **/en
  azure-pipelines/build-pipeline-multi-job-jp+kr.yml: any file but: **/en
  azure-pipelines/build-pipeline.yml: any file but: **/jp, **/kr

Update chart-user-annotations.md
  doc/en/components/charts/features/chart-user-annotations.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

add user anno gifs
  doc/en/components/charts/features/chart-user-annotations.md
  doc/en/images/charts/data-chart-user-annotation-create.gif
  doc/en/images/charts/data-chart-user-annotation-delete.gif
  doc/jp/images/charts/data-chart-user-annotation-create.gif
  doc/jp/images/charts/data-chart-user-annotation-delete.gif
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

refactor: remove custom template reference from docfx configuration
  custom-template/conceptual.html.primary.tmpl
  docfx/en/docfx.json
  docfx/jp/docfx.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Change styling samples height for react and blazor
  doc/en/components/layouts/stepper.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

docs: add blazor code snippets and update content
  doc/en/components/grid-lite/binding.md
  doc/en/components/grid-lite/column-configuration.md
  doc/en/components/grid-lite/filtering.md
  doc/en/components/grid-lite/sorting.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

fixed broken links
  doc/en/components/grid-lite/column-configuration.md
  doc/en/components/inputs/tooltip.md
  doc/en/components/interactivity/chat.md
  doc/en/components/themes/tailwind.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

add missing api links
  doc/en/components/general-changelog-dv-blazor.md
  doc/en/components/general-changelog-dv-react.md
  doc/en/components/general-changelog-dv-wc.md
  doc/en/components/general-getting-started.md
  doc/jp/components/general-changelog-dv-blazor.md
  doc/jp/components/general-changelog-dv-react.md
  doc/jp/components/general-getting-started.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

add missing api links
  doc/en/components/general-changelog-dv-blazor.md
  doc/en/components/general-changelog-dv-react.md
  doc/en/components/general-changelog-dv-wc.md
  doc/en/components/general-changelog-dv.md
  doc/jp/components/general-changelog-dv-blazor.md
  doc/jp/components/general-changelog-dv-react.md
  doc/jp/components/general-changelog-dv-wc.md
  doc/jp/components/general-changelog-dv.md
  stats/docStats-React.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

fixed broken api links
  doc/jp/components/inputs/tooltip.md
  doc/jp/components/interactivity/chat.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

add missing api links
  doc/en/components/charts/features/chart-user-annotations.md
  doc/en/components/general-changelog-dv-blazor.md
  doc/en/components/general-changelog-dv-react.md
  doc/en/components/general-changelog-dv.md
  doc/jp/components/general-changelog-dv-react.md
  doc/jp/components/general-changelog-dv.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Changelog for XPLAT 25.2 release
  doc/en/components/general-changelog-dv-blazor.md
  doc/en/components/general-changelog-dv-react.md
  doc/en/components/general-changelog-dv-wc.md
  doc/en/components/general-changelog-dv.md
  docConfig.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Add .NET 6 breaking change to Blazor changelog
  doc/en/components/general-changelog-dv-blazor.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

add missing api links
  doc/en/components/general-changelog-dv.md
  doc/jp/components/general-changelog-dv.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Update MarkdownTransformer.ts
  src/ext/MarkdownTransformer.ts
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

update doc stats
  stats/docStats-Angular.json
  stats/docStats-Blazor.json
  stats/docStats-WC.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Add Azure RTM and remove Preview tags. Also fix WC and React version numbers
  doc/en/components/general-changelog-dv-blazor.md
  doc/en/components/general-changelog-dv-react.md
  doc/en/components/general-changelog-dv-wc.md
  doc/en/components/general-changelog-dv.md
  docConfig.json
  docfx/en/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

remove preview
  docfx/jp/components/toc.json
  docfx/kr/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

fixed typos
  doc/en/components/charts/features/chart-axis-options.md
  doc/en/components/charts/features/chart-axis-types.md
  doc/en/components/charts/features/chart-data-filtering.md
  doc/en/components/charts/features/chart-data-legend.md
  doc/en/components/charts/features/chart-data-selection.md
  doc/en/components/charts/features/chart-trendlines.md
  doc/en/components/general-changelog-dv-blazor.md
  doc/en/components/general-changelog-dv-react.md
  doc/en/components/general-changelog-dv-wc.md
  doc/en/components/general-getting-started-blazor-maui.md
  doc/en/components/general-getting-started-blazor-web-app.md
  doc/en/components/geo-map-display-azure-imagery.md
  doc/en/components/menus/toolbar.md
  doc/jp/components/general-changelog-dv-blazor.md
  doc/jp/components/general-getting-started-blazor-web-app.md
  doc/kr/components/charts/features/chart-data-filtering.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

fixing-markdown-rules
  doc/en/components/charts/features/chart-markers.md
  doc/en/components/charts/features/chart-trendlines.md
  doc/en/components/charts/types/area-chart.md
  doc/en/components/charts/types/bar-chart.md
  doc/en/components/charts/types/column-chart.md
  doc/en/components/charts/types/line-chart.md
  doc/en/components/charts/types/stock-chart.md
  doc/en/components/excel-library-using-worksheets.md
  doc/en/components/general-changelog-dv-blazor.md
  doc/en/components/general-changelog-dv-react.md
  doc/en/components/general-changelog-dv-wc.md
  doc/en/components/general-changelog-dv.md
  doc/en/components/general-getting-started.md
  doc/en/components/geo-map-display-azure-imagery.md
  doc/en/components/geo-map.md
  doc/en/components/grids/_shared/row-editing.md
  doc/en/components/grids/grids-header.md
  doc/en/components/grids/hierarchical-grid/load-on-demand.md
  doc/en/components/layouts/dock-manager.md
  doc/en/components/maps/map-api.md
  doc/en/components/menus/toolbar.md
  doc/en/components/themes/tailwind.md
  doc/kr/components/charts/features/chart-markers.md
  doc/kr/components/charts/types/bar-chart.md
  doc/kr/components/charts/types/column-chart.md
  doc/kr/components/charts/types/line-chart.md
  doc/kr/components/charts/types/stock-chart.md
  doc/kr/components/excel-library-using-worksheets.md
  docConfig.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

cleanup-markup
  src/ext/MarkdownTransformer.ts
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

fix-syntax
  doc/en/components/charts/features/chart-data-aggregations.md
  doc/en/components/charts/features/chart-data-legend.md
  doc/en/components/charts/features/chart-data-selection.md
  doc/en/components/charts/features/chart-data-tooltip.md
  doc/en/components/charts/types/area-chart.md
  doc/en/components/dashboard-tile.md
  doc/en/components/geo-map-binding-shp-file.md
  doc/en/components/geo-map-display-bing-imagery.md
  doc/en/components/geo-map-shape-files-reference.md
  doc/en/components/interactivity/accessibility-compliance.md
  doc/en/components/layouts/tile-manager.md
  doc/en/components/themes/styles.md
  doc/jp/components/charts/features/chart-data-legend.md
  doc/jp/components/charts/features/chart-data-tooltip.md
  doc/jp/components/dashboard-tile.md
  doc/jp/components/geo-map-display-bing-imagery.md
  doc/jp/components/interactivity/accessibility-compliance.md
  doc/kr/components/geo-map-binding-shp-file.md
  doc/kr/components/geo-map-display-bing-imagery.md
  doc/kr/components/geo-map-shape-files-reference.md
  src/ext/MarkdownTransformer.ts
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

chore(*): add-table-oss-links-en
  doc/en/components/general-open-source-vs-premium.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

fix lint
  doc/en/components/blazor-excel-library-temporarily-stop-automatic-calculation-of-formulas-to-speed-up-processing.md
  doc/en/components/charts/features/chart-performance.md
  doc/en/components/charts/types/area-chart.md
  doc/en/components/general-changelog-dv-blazor.md
  doc/en/components/general-changelog-dv-react.md
  doc/en/components/general-changelog-dv-wc.md
  doc/en/components/general-changelog-dv.md
  doc/en/components/geo-map-display-azure-imagery.md
  doc/jp/components/geo-map-display-azure-imagery.md
  doc/kr/components/charts/features/chart-performance.md
  doc/kr/components/charts/types/area-chart.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

chore(*): add-links-table-oss-en
  doc/en/components/general-open-source-vs-premium.md
  doc/en/images/open-source-text.png
  doc/en/images/premium-text.png
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

fix lint
  doc/en/components/blazor-webassembly-how-to-read-and-write-excel-files-to-reduce-server-load.md
  doc/en/components/general-changelog-dv-blazor.md
  doc/en/components/general-changelog-dv-react.md
  doc/en/components/general-changelog-dv-wc.md
  doc/en/components/general-changelog-dv.md
  doc/en/components/update-guide.md
  doc/en/components/zoomslider-overview.md
  doc/jp/components/general-changelog-dv-blazor.md
  doc/jp/components/general-changelog-dv-react.md
  doc/jp/components/general-changelog-dv-wc.md
  doc/jp/components/general-changelog-dv.md
  doc/jp/components/update-guide.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

fixed bold text
  doc/en/components/grids/_shared/cell-editing.md
  doc/en/components/grids/_shared/excel-style-filtering.md
  doc/en/components/grids/_shared/row-pinning.md
  doc/en/components/grids/_shared/size.md
  doc/en/components/update-guide.md
  doc/en/components/zoomslider-overview.md
  doc/jp/components/grids/_shared/cell-editing.md
  doc/jp/components/grids/_shared/excel-style-filtering.md
  doc/jp/components/grids/_shared/row-pinning.md
  doc/jp/components/grids/_shared/size.md
  doc/jp/components/update-guide.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

fix list indent
  doc/en/components/charts/chart-features.md
  doc/en/components/charts/chart-overview.md
  doc/en/components/charts/features/chart-axis-types.md
  doc/en/components/charts/features/chart-data-legend.md
  doc/en/components/charts/features/chart-data-tooltip.md
  doc/en/components/editors/multi-column-combobox.md
  doc/en/components/geo-map-shape-files-reference.md
  doc/en/components/grid-lite/binding.md
  doc/en/components/grid-lite/cell-template.md
  doc/en/components/grid-lite/column-configuration.md
  doc/en/components/grid-lite/filtering.md
  doc/en/components/grid-lite/header-template.md
  doc/en/components/grid-lite/sorting.md
  doc/en/components/grids/_shared/cell-editing.md
  doc/en/components/grids/_shared/cell-merging.md
  doc/en/components/grids/_shared/column-types.md
  doc/en/components/grids/_shared/editing.md
  doc/en/components/grids/_shared/keyboard-navigation.md
  doc/en/components/grids/_shared/size.md
  doc/en/components/grids/_shared/summaries.md
  doc/en/components/grids/data-grid/accessibility.md
  doc/en/components/grids/data-grid/cell-activation.md
  doc/en/components/grids/data-grid/cell-editing.md
  doc/en/components/grids/data-grid/cell-merging.md
  doc/en/components/grids/data-grid/cell-selection.md
  doc/en/components/grids/data-grid/column-animation.md
  doc/en/components/grids/grid/groupby.md
  doc/en/components/grids/grid/icons.md
  doc/en/components/inputs/combo/overview.md
  doc/en/components/layouts/dock-manager-customization.md
  doc/en/components/themes/tailwind.md
  doc/en/components/themes/typography.md
  doc/en/components/update-guide.md
  doc/en/components/zoomslider-overview.md
  doc/jp/components/grids/grid/icons.md
  doc/jp/components/layouts/dock-manager-customization.md
  doc/jp/components/update-guide.md
  doc/kr/components/geo-map-shape-files-reference.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

fix tabs
  doc/en/components/grids/_shared/cell-editing.md
  doc/en/components/inputs/color-editor.md
  doc/en/components/inputs/rating.md
  doc/en/components/layouts/tile-manager.md
  doc/jp/components/grids/_shared/cell-editing.md
  doc/jp/components/inputs/color-editor.md
  doc/jp/components/inputs/rating.md
  doc/jp/components/layouts/tile-manager.md
  doc/jp/components/scheduling/date-range-picker.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

fix lint
  doc/en/components/customize-marker-display-in-blazor-charts.md
  doc/en/components/grids/_shared/remote-data-operations.md
  doc/en/components/grids/_shared/row-adding.md
  doc/en/components/grids/_shared/row-editing.md
  doc/en/components/grids/tree.md
  doc/en/components/inputs/rating.md
  doc/en/components/layouts/carousel.md
  doc/en/components/layouts/expansion-panel.md
  doc/en/components/layouts/stepper.md
  doc/jp/components/grids/_shared/row-adding.md
  doc/jp/components/grids/_shared/row-editing.md
  doc/jp/components/grids/tree.md
  doc/jp/components/inputs/rating.md
  doc/jp/components/layouts/expansion-panel.md
  doc/jp/components/layouts/stepper.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml
