Repository IgniteUI/igniteui-xplat-docs: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

azure-pipelines/azure-pipelines-jp.yml:
  name: $(BuildDefinitionName)_$(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  stages:
  - stage: Build
    pool:
      name: BuildAgentOnPrem
      demands: npm
    jobs:
    - job: BuildDocs
      steps:
      - task: NodeTool@0
        inputs:
          versionSource: spec
          versionSpec: 16.x
  ...

azure-pipelines/azure-pipelines.yml:
  schedules:
  - cron: '*/30 * * * *'
    displayName: Stability verification schedule
    branches:
      include:
      - azure-pipelines
    always: true
  name: $(BuildDefinitionName)_$(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  stages:
  - stage: Build
    pool:
      name: BuildAgentOnPrem
      demands: npm
    jobs:
  ...

azure-pipelines/build-pipeline-jp+kr.yml:
  name: $(BuildDefinitionName)_$(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  stages:
  - stage: Build
    pool:
      name: BuildAgentOnPrem
      demands: npm
    jobs:
    - job: BuildDocs
      steps:
      - checkout: self
      - task: NodeTool@0
        inputs:
          versionSource: spec
          versionSpec: 16.x
  ...

azure-pipelines/build-pipeline-multi-job-jp+kr.yml:
  name: $(BuildDefinitionName)_$(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  stages:
  - stage: Build
    pool:
      name: BuildAgentOnPrem
      demands: npm
    jobs:
    - template: templates/build-jobs-template.yml
      parameters:
        jobName: WebComponents_JP
        buildType: $(buildType)
  ...

azure-pipelines/build-pipeline.yml:
  name: $(BuildDefinitionName)_$(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  stages:
  - stage: Build
    pool:
      name: BuildAgentOnPrem
      demands: npm
    jobs:
    - job: BuildDocs
      steps:
      - checkout: self
      - task: NodeTool@0
        inputs:
          versionSource: spec
          versionSpec: 16.x
  ...

mdd-update-toolbar-landing-for-category (#893)
  doc/en/components/menus/toolbar.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Update general-changelog-dv-blazor.md
  doc/en/components/general-changelog-dv-blazor.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Update general-changelog-dv-blazor.md (#894)
  doc/en/components/general-changelog-dv-blazor.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Add some more height to the sample container so that it does not cut the esf dialog (#877)
  doc/en/components/grids/_shared/excel-style-filtering.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Update cell selection topic regarding fixes.
  doc/en/components/grids/_shared/cell-selection.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

update toc and row pinning topic
  doc/en/components/grids/_shared/row-pinning.md
  docfx/en/components/toc.json
  docfx/jp/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Adding the latest content changes - 28 June.
  doc/jp/components/charts/features/chart-axis-types.md
  doc/jp/components/charts/features/chart-trendlines.md
  doc/jp/components/charts/types/sparkline-chart.md
  doc/jp/components/general-changelog-dv-blazor.md
  doc/jp/components/general-changelog-dv-react.md
  doc/jp/components/general-changelog-dv-wc.md
  doc/jp/components/general-changelog-dv.md
  doc/jp/components/grids/_shared/display-density.md
  doc/jp/components/grids/_shared/excel-style-filtering.md
  doc/jp/components/grids/_shared/row-drag.md
  doc/jp/components/grids/_shared/sorting.md
  doc/jp/components/grids/_shared/state-persistence.md
  doc/jp/components/grids/_shared/summaries.md
  doc/jp/components/menus/toolbar.md
  docfx/jp/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

Fixing builds.
  doc/en/components/grids/_shared/cascading-combos.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Fixing the correct file, reverting EN.
  doc/en/components/grids/_shared/cascading-combos.md
  doc/jp/components/grids/_shared/cascading-combos.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Fixing language in Cascadind Combos.
  doc/jp/components/grids/_shared/cascading-combos.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

[JP] Adding the latest content changes - up to 28 June. (#897)
  doc/jp/components/charts/features/chart-axis-types.md
  doc/jp/components/charts/features/chart-overlays.md
  doc/jp/components/charts/features/chart-trendlines.md
  doc/jp/components/charts/types/sparkline-chart.md
  doc/jp/components/general-changelog-dv-blazor.md
  doc/jp/components/general-changelog-dv-react.md
  doc/jp/components/general-changelog-dv-wc.md
  doc/jp/components/general-changelog-dv.md
  doc/jp/components/grids/_shared/cascading-combos.md
  doc/jp/components/grids/_shared/cell-editing.md
  doc/jp/components/grids/_shared/column-resizing.md
  doc/jp/components/grids/_shared/display-density.md
  doc/jp/components/grids/_shared/excel-style-filtering.md
  doc/jp/components/grids/_shared/keyboard-navigation.md
  doc/jp/components/grids/_shared/live-data.md
  doc/jp/components/grids/_shared/row-drag.md
  doc/jp/components/grids/_shared/row-pinning.md
  doc/jp/components/grids/_shared/row-selection.md
  doc/jp/components/grids/_shared/sorting.md
  doc/jp/components/grids/_shared/state-persistence.md
  doc/jp/components/grids/_shared/summaries.md
  doc/jp/components/menus/toolbar.md
  docfx/jp/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

fix changelog
  doc/en/components/general-changelog-dv-blazor.md
  doc/en/components/general-changelog-dv-react.md
  doc/en/components/general-changelog-dv-wc.md
  doc/en/components/general-changelog-dv.md
  doc/jp/components/general-changelog-dv-blazor.md
  doc/jp/components/general-changelog-dv-react.md
  doc/jp/components/general-changelog-dv-wc.md
  doc/jp/components/general-changelog-dv.md
  docConfig.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

fix changelog (#899)
  doc/en/components/general-changelog-dv-blazor.md
  doc/en/components/general-changelog-dv-react.md
  doc/en/components/general-changelog-dv-wc.md
  doc/en/components/general-changelog-dv.md
  doc/jp/components/general-changelog-dv-blazor.md
  doc/jp/components/general-changelog-dv-react.md
  doc/jp/components/general-changelog-dv-wc.md
  doc/jp/components/general-changelog-dv.md
  docConfig.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

fixed transforming TSX to TS language
  src/ext/MarkdownTransformer.ts
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Remove razor language replacement (#851)
  src/ext/MarkdownTransformer.ts
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

fix inputs package name and fix mentionedTypes
  src/ext/MappingLoader.ts
  src/ext/MarkdownTransformer.ts
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

fixed API links
  doc/en/components/grids/_shared/cascading-combos.md
  doc/en/components/menus/toolbar.md
  doc/jp/components/grids/_shared/cascading-combos.md
  doc/jp/components/menus/toolbar.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

fix namespace modification
  src/ext/MappingLoader.ts
  src/ext/MarkdownTransformer.ts
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

fix inputs package name and fix mentionedTypes (#900)
  src/ext/MarkdownTransformer.ts
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

fixed markdown verification
  src/ext/MarkdownTransformer.ts
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Update doc/en/components/inputs/combo/overview.md
  doc/en/components/inputs/combo/overview.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Move and add more snippets.
  doc/en/components/grids/tree-grid/overview.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Additional small tweaks.
  doc/en/components/grids/tree-grid/overview.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Add explicit ComponentStart/ComponentEnd TreeGrid tags for treegrid snippets.
  doc/en/components/grids/_shared/advanced-filtering.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Remove duplicate start tag.
  doc/en/components/grids/_shared/filtering.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Update toolbar.md
  doc/en/components/menus/toolbar.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Update chart-data-aggregations.md
  doc/en/components/charts/features/chart-data-aggregations.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

added override for LOB API links in WC config
  doc/en/components/grids/_shared/row-selection.md
  docConfig.json
  package-lock.json
  yarn.lock
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

JA - Latest changes - Chart Data Aggregations, Combo Overview, Toolbar
  doc/jp/components/charts/features/chart-data-aggregations.md
  doc/jp/components/inputs/combo/overview.md
  doc/jp/components/menus/toolbar.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

edit row-editting topic and update toc
  doc/en/components/grids/_shared/row-editing.md
  docfx/en/components/toc.json
  docfx/jp/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Updating row-selection to match EN. Localized content
  doc/jp/components/charts/features/chart-data-aggregations.md
  doc/jp/components/grids/_shared/row-selection.md
  doc/jp/components/inputs/combo/overview.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

Add remote data operation for Web Components to show the infinite scroll demo
  doc/en/components/grids/_shared/remote-data-operations.md
  docfx/en/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

JA - column hiding changes
  doc/jp/components/grids/_shared/column-hiding.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

Minor spacing fixes - chart data aggregations
  doc/jp/components/charts/features/chart-data-aggregations.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

Minor fixes.
  doc/jp/components/inputs/combo/overview.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

address PR comments in col resizing topic
  doc/en/components/grids/_shared/column-resizing.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

address PR comments for cell selection topic
  doc/en/components/grids/_shared/cell-selection.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Path conditions:
  azure-pipelines/azure-pipelines-jp.yml: any file but: en
  azure-pipelines/azure-pipelines.yml: any file but: jp, kr
  azure-pipelines/build-pipeline-jp+kr.yml: any file but: **/en
  azure-pipelines/build-pipeline-multi-job-jp+kr.yml: any file but: **/en
  azure-pipelines/build-pipeline.yml: any file but: **/jp, **/kr
