Repository IgniteUI/igniteui-xplat-docs: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Path conditions:
  azure-pipelines/azure-pipelines-jp.yml: any file but: en
  azure-pipelines/azure-pipelines.yml: any file but: jp, kr
  azure-pipelines/build-pipeline-jp+kr.yml: any file but: **/en
  azure-pipelines/build-pipeline-multi-job-jp+kr.yml: any file but: **/en
  azure-pipelines/build-pipeline.yml: any file but: **/jp, **/kr

updated snippets to react 19
  doc/en/components/notifications/snackbar.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Update excel style editing sample snippets
  doc/en/components/grids/_shared/cell-editing.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

updated topic to react19
  doc/en/components/notifications/toast.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Updating JA for #1547
  doc/jp/components/inputs/file-input.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

docs(grids): add changelog for 25.1 for the grids
  doc/en/components/general-changelog-dv-blazor.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Updating Blazor changelog for #1599
  doc/jp/components/general-changelog-dv-blazor.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

Apply comments
  doc/en/components/grids/_shared/search.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Update snippets for advanced filtering topic (#1499)
  doc/en/components/grids/_shared/advanced-filtering.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Remove keys. Change hgrid snippet to match the sample
  doc/en/components/grids/_shared/cell-editing.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Update JA topics for #1499 and #1503
  doc/jp/components/grids/_shared/advanced-filtering.md
  doc/jp/components/grids/_shared/cell-selection.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

removed module register and updated snippets
  doc/en/components/scheduling/calendar.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Update cell editing topic with v19 info for react (#1501)
  doc/en/components/grids/_shared/cell-editing.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

More topic updates.
  doc/jp/components/grids/_shared/cell-editing.md
  doc/jp/components/inputs/badge.md
  doc/jp/components/inputs/button-group.md
  doc/jp/components/inputs/button.md
  doc/jp/components/inputs/checkbox.md
  doc/jp/components/inputs/chip.md
  doc/jp/components/layouts/accordion.md
  doc/jp/components/layouts/avatar.md
  doc/jp/components/layouts/card.md
  doc/jp/components/layouts/carousel.md
  doc/jp/components/layouts/expansion-panel.md
  doc/jp/components/layouts/icon.md
  doc/jp/components/layouts/stepper.md
  doc/jp/components/menus/navbar.md
  doc/jp/components/menus/navigation-drawer.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

Badge topic fix
  doc/jp/components/inputs/badge.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

Final fixes
  doc/jp/components/inputs/badge.md
  doc/jp/components/inputs/button.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

updated date picker topic
  doc/en/components/scheduling/date-picker.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Update pivot dimension snippets.
  doc/en/components/grids/pivot-grid/features.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

updated dialog topic
  doc/en/components/notifications/dialog.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Update snippets in pivot overview topic.
  doc/en/components/grids/pivot-grid/overview.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Resolving comments part 2
  doc/en/components/grids/_shared/sorting.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

docs(blazor): add missing changelog for 24.2.122
  doc/en/components/general-changelog-dv-blazor.md
  docConfig.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Resolving comments part 2
  doc/en/components/grids/_shared/summaries.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Resolving comments part 2
  doc/en/components/inputs/switch.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Update JA snippets - Advanced Filtering, Cell Selection (#1609)
  doc/jp/components/grids/_shared/advanced-filtering.md
  doc/jp/components/grids/_shared/cell-editing.md
  doc/jp/components/grids/_shared/cell-selection.md
  doc/jp/components/inputs/badge.md
  doc/jp/components/inputs/button-group.md
  doc/jp/components/inputs/button.md
  doc/jp/components/inputs/checkbox.md
  doc/jp/components/inputs/chip.md
  doc/jp/components/layouts/accordion.md
  doc/jp/components/layouts/avatar.md
  doc/jp/components/layouts/card.md
  doc/jp/components/layouts/carousel.md
  doc/jp/components/layouts/expansion-panel.md
  doc/jp/components/layouts/icon.md
  doc/jp/components/layouts/stepper.md
  doc/jp/components/menus/navbar.md
  doc/jp/components/menus/navigation-drawer.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

updated hgrid snippet to show how gridCreated is used
  doc/en/components/grids/_shared/remote-data-operations.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Fix links formatting.
  doc/en/components/grids/grids-header.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Update list topic snippets.
  doc/en/components/grids/list.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

docs(react): merge 19.0.0 versions in the changelog for react
  doc/en/components/general-changelog-dv-react.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Remove module import.
  doc/en/components/grids/tree.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Fix more links.
  doc/en/components/grids/grids-header.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Fix links.
  doc/en/components/grids/grids-header.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Apply review comments.
  doc/en/components/grids/pivot-grid/features.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

updated snippets
  doc/en/components/inputs/combo/features.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

removed module import from snippet
  doc/en/components/inputs/combo/overview.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

removed obsolete argument
  doc/en/components/scheduling/calendar.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Resolving comments part 2
  doc/en/components/inputs/slider.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Resolving comments part 2
  doc/en/components/inputs/text-area.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Resolving comments part 3
  doc/en/components/grids/_shared/summaries.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

updated snippet to reflect sample changes
  doc/en/components/grids/grid/paste-excel.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Calendar topic update to react 19 (#1610)
  doc/en/components/scheduling/calendar.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml
