Repository IgniteUI/igniteui-xplat-docs: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Path conditions:
  azure-pipelines/azure-pipelines-jp.yml: any file but: en
  azure-pipelines/azure-pipelines.yml: any file but: jp, kr
  azure-pipelines/build-pipeline-jp+kr.yml: any file but: **/en
  azure-pipelines/build-pipeline-multi-job-jp+kr.yml: any file but: **/en
  azure-pipelines/build-pipeline.yml: any file but: **/jp, **/kr

Fix changelog variables and timeline
  doc/en/components/general-changelog-dv-blazor.md
  doc/en/components/general-changelog-dv-react.md
  doc/en/components/general-changelog-dv-wc.md
  doc/en/components/general-changelog-dv.md
  doc/jp/components/general-changelog-dv-blazor.md
  doc/jp/components/general-changelog-dv-react.md
  doc/jp/components/general-changelog-dv-wc.md
  doc/jp/components/general-changelog-dv.md
  docConfig.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Fix changelogs (#1118)
  doc/en/components/general-changelog-dv-blazor.md
  doc/en/components/general-changelog-dv-react.md
  doc/en/components/general-changelog-dv-wc.md
  doc/en/components/general-changelog-dv.md
  doc/jp/components/general-changelog-dv-blazor.md
  doc/jp/components/general-changelog-dv-react.md
  doc/jp/components/general-changelog-dv-wc.md
  doc/jp/components/general-changelog-dv.md
  docConfig.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

resolved comments
  doc/en/components/grids/tree-grid/overview.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Ttonev/tree grid react overview (#1062)
  doc/en/components/grids/tree-grid/overview.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

[React] Add TreeGrid cell-editing topic (#1063)
  doc/en/components/grids/_shared/cell-editing.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Updating JA changelogs, other changes.
  doc/jp/components/charts/features/chart-highlight-filter.md
  doc/jp/components/general-changelog-dv-blazor.md
  doc/jp/components/general-changelog-dv-react.md
  doc/jp/components/grids/_shared/column-pinning.md
  doc/jp/components/grids/theming.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

Update column-chart.md
  doc/en/components/charts/types/column-chart.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Update spreadsheet-chart-adapter.md
  doc/en/components/spreadsheet-chart-adapter.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

gen doc stats
  stats/docStats-Angular.json
  stats/docStats-Blazor.json
  stats/docStats-React.json
  stats/docStats-WC.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Update package.json
  package.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

fix API links (#1122)
  doc/en/components/charts/types/column-chart.md
  doc/en/components/spreadsheet-chart-adapter.md
  package.json
  stats/docStats-Angular.json
  stats/docStats-Blazor.json
  stats/docStats-React.json
  stats/docStats-WC.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Updating JA for #1122
  doc/jp/components/charts/types/column-chart.md
  doc/jp/components/spreadsheet-chart-adapter.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

mdd-update-readme
  doc/en/components/general-changelog-dv.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

fixed links
  doc/en/components/charts/features/chart-markers.md
  doc/en/components/charts/features/chart-trendlines.md
  doc/en/components/charts/types/bubble-chart.md
  doc/en/components/charts/types/line-chart.md
  doc/en/components/charts/types/spline-chart.md
  doc/en/components/charts/types/step-chart.md
  doc/en/components/charts/types/stock-chart.md
  doc/en/components/menus/toolbar.md
  doc/jp/components/charts/features/chart-trendlines.md
  doc/jp/components/menus/toolbar.md
  doc/kr/components/charts/features/chart-trendlines.md
  docConfig.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

fixed links (#1131)
  doc/en/components/charts/features/chart-markers.md
  doc/en/components/charts/features/chart-trendlines.md
  doc/en/components/charts/types/bubble-chart.md
  doc/en/components/charts/types/line-chart.md
  doc/en/components/charts/types/spline-chart.md
  doc/en/components/charts/types/step-chart.md
  doc/en/components/charts/types/stock-chart.md
  doc/en/components/menus/toolbar.md
  doc/jp/components/charts/features/chart-trendlines.md
  doc/jp/components/menus/toolbar.md
  doc/kr/components/charts/features/chart-trendlines.md
  docConfig.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

fix generating API links and add explicit API link
  doc/en/components/charts/chart-api.md
  doc/jp/components/charts/chart-api.md
  src/ext/MappingLoader.ts
  src/ext/MarkdownTransformer.ts
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

fixed api links
  README.md
  doc/en/components/charts/chart-overview.md
  doc/en/components/charts/features/chart-tooltips.md
  doc/en/components/charts/features/chart-trendlines.md
  doc/en/components/charts/types/line-chart.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

api links and api script (#1132)
  README.md
  doc/en/components/charts/chart-api.md
  doc/en/components/charts/chart-overview.md
  doc/en/components/charts/features/chart-tooltips.md
  doc/en/components/charts/features/chart-trendlines.md
  doc/en/components/charts/types/line-chart.md
  doc/jp/components/charts/chart-api.md
  src/ext/MappingLoader.ts
  src/ext/MarkdownTransformer.ts
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Updating JA for #1122 (#1129)
  doc/jp/components/charts/types/column-chart.md
  doc/jp/components/spreadsheet-chart-adapter.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

mdd-update-readme (#1130)
  doc/en/components/general-changelog-dv.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Update README.md
  README.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Update README.md (#1133)
  README.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

fix broken links
  doc/en/components/general-changelog-dv-blazor.md
  doc/en/components/general-changelog-dv-react.md
  doc/en/components/general-changelog-dv-wc.md
  doc/en/components/general-cli-overview.md
  doc/en/components/grids/_shared/cell-editing.md
  doc/en/components/grids/_shared/cell-selection.md
  doc/en/components/grids/_shared/editing.md
  doc/en/components/grids/_shared/export-excel.md
  doc/en/components/grids/_shared/selection.md
  doc/en/components/grids/_shared/sizing.md
  doc/en/components/grids/grid/master-detail.md
  docConfig.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

fix broken links (#1134)
  doc/en/components/general-changelog-dv-blazor.md
  doc/en/components/general-changelog-dv-react.md
  doc/en/components/general-changelog-dv-wc.md
  doc/en/components/general-cli-overview.md
  doc/en/components/grids/_shared/cell-editing.md
  doc/en/components/grids/_shared/cell-selection.md
  doc/en/components/grids/_shared/editing.md
  doc/en/components/grids/_shared/export-excel.md
  doc/en/components/grids/_shared/selection.md
  doc/en/components/grids/_shared/sizing.md
  doc/en/components/grids/grid/master-detail.md
  docConfig.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Fixing API links as per EN - 15 Jan 23
  doc/jp/components/charts/chart-overview.md
  doc/jp/components/charts/features/chart-markers.md
  doc/jp/components/charts/features/chart-tooltips.md
  doc/jp/components/charts/features/chart-trendlines.md
  doc/jp/components/charts/types/bubble-chart.md
  doc/jp/components/charts/types/line-chart.md
  doc/jp/components/charts/types/spline-chart.md
  doc/jp/components/charts/types/step-chart.md
  doc/jp/components/charts/types/stock-chart.md
  doc/jp/components/general-changelog-dv-blazor.md
  doc/jp/components/general-changelog-dv-react.md
  doc/jp/components/general-changelog-dv-wc.md
  doc/jp/components/general-changelog-dv.md
  doc/jp/components/general-cli-overview.md
  doc/jp/components/grids/_shared/cell-editing.md
  doc/jp/components/grids/_shared/cell-selection.md
  doc/jp/components/grids/_shared/editing.md
  doc/jp/components/grids/_shared/export-excel.md
  doc/jp/components/grids/_shared/selection.md
  doc/jp/components/grids/_shared/sizing.md
  doc/jp/components/grids/grid/master-detail.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

Fixing API links as per EN - 15 Jan 23 (#1135)
  doc/jp/components/charts/chart-overview.md
  doc/jp/components/charts/features/chart-markers.md
  doc/jp/components/charts/features/chart-tooltips.md
  doc/jp/components/charts/features/chart-trendlines.md
  doc/jp/components/charts/types/bubble-chart.md
  doc/jp/components/charts/types/line-chart.md
  doc/jp/components/charts/types/spline-chart.md
  doc/jp/components/charts/types/step-chart.md
  doc/jp/components/charts/types/stock-chart.md
  doc/jp/components/general-changelog-dv-blazor.md
  doc/jp/components/general-changelog-dv-react.md
  doc/jp/components/general-changelog-dv-wc.md
  doc/jp/components/general-changelog-dv.md
  doc/jp/components/general-cli-overview.md
  doc/jp/components/grids/_shared/cell-editing.md
  doc/jp/components/grids/_shared/cell-selection.md
  doc/jp/components/grids/_shared/editing.md
  doc/jp/components/grids/_shared/export-excel.md
  doc/jp/components/grids/_shared/selection.md
  doc/jp/components/grids/_shared/sizing.md
  doc/jp/components/grids/grid/master-detail.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

Remove dock manager customization topic from Blazor as no samples exist for it yet
  docfx/en/components/toc.json
  docfx/jp/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Remove dock manager customization topic from Blazor as no samples exist for it yet (#1136)
  docfx/en/components/toc.json
  docfx/jp/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Adding dialog topic for React
  doc/en/components/notifications/dialog.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Updating dialog topic and adding it to the toc
  doc/en/components/notifications/dialog.md
  docfx/en/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

feat(accordion): add to topic for React
  doc/en/components/layouts/accordion.md
  docfx/en/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Adding dropdown topic for React
  doc/en/components/inputs/dropdown.md
  docfx/en/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

fix package-name issue
  apiMap/Angular/DV.DataAdapters.Financial.JS.apiMap.json
  apiMap/Angular/DV.Shared.CORE.JS.apiMap.json
  apiMap/Angular/DV.Shared.DATASERIESADAPTER.JS.apiMap.json
  apiMap/Angular/DV.Shared.DATASOURCE.JS.apiMap.json
  apiMap/Angular/DV.Shared.DESCRIPTION.JS.apiMap.json
  apiMap/Angular/DV.Shared.GEO.JS.apiMap.json
  apiMap/Angular/DV.Shared.GEOMETRY.JS.apiMap.json
  apiMap/Angular/DV.Shared.INTERACTIVITY.JS.apiMap.json
  apiMap/Angular/DV.Shared.POPUP.JS.apiMap.json
  apiMap/Angular/DV.Shared.SCROLLER.JS.apiMap.json
  apiMap/Blazor/DV.DataAdapters.Financial.JS.blazor.apiMap.json
  apiMap/Blazor/DV.Shared.CORE.JS.blazor.apiMap.json
  apiMap/Blazor/DV.Shared.DATASERIESADAPTER.JS.blazor.apiMap.json
  apiMap/Blazor/DV.Shared.DATASOURCE.JS.blazor.apiMap.json
  apiMap/Blazor/DV.Shared.DESCRIPTION.JS.blazor.apiMap.json
  apiMap/Blazor/DV.Shared.GEO.JS.blazor.apiMap.json
  apiMap/Blazor/DV.Shared.GEOMETRY.JS.blazor.apiMap.json
  apiMap/Blazor/DV.Shared.INTERACTIVITY.JS.blazor.apiMap.json
  apiMap/Blazor/DV.Shared.POPUP.JS.blazor.apiMap.json
  apiMap/React/DV.DataAdapters.Financial.JS.r.apiMap.json
  apiMap/React/DV.Shared.CORE.JS.r.apiMap.json
  apiMap/React/DV.Shared.DATASERIESADAPTER.JS.r.apiMap.json
  apiMap/React/DV.Shared.DATASOURCE.JS.r.apiMap.json
  apiMap/React/DV.Shared.DESCRIPTION.JS.r.apiMap.json
  apiMap/React/DV.Shared.GEO.JS.r.apiMap.json
  apiMap/React/DV.Shared.GEOMETRY.JS.r.apiMap.json
  apiMap/React/DV.Shared.INTERACTIVITY.JS.r.apiMap.json
  apiMap/React/DV.Shared.POPUP.JS.r.apiMap.json
  apiMap/React/DV.Shared.SCROLLER.JS.r.apiMap.json
  apiMap/WebComponents/DV.DataAdapters.Financial.JS.wc.apiMap.json
  apiMap/WebComponents/DV.Shared.CORE.JS.wc.apiMap.json
  apiMap/WebComponents/DV.Shared.DATASERIESADAPTER.JS.wc.apiMap.json
  apiMap/WebComponents/DV.Shared.DATASOURCE.JS.wc.apiMap.json
  apiMap/WebComponents/DV.Shared.DESCRIPTION.JS.wc.apiMap.json
  apiMap/WebComponents/DV.Shared.GEO.JS.wc.apiMap.json
  apiMap/WebComponents/DV.Shared.GEOMETRY.JS.wc.apiMap.json
  apiMap/WebComponents/DV.Shared.INTERACTIVITY.JS.wc.apiMap.json
  apiMap/WebComponents/DV.Shared.POPUP.JS.wc.apiMap.json
  apiMap/WebComponents/DV.Shared.SCROLLER.JS.wc.apiMap.json
  gulpfile.js
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

docs(select): add topic for React
  doc/en/components/inputs/select.md
  docfx/en/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

docs(rating): add topic for React
  doc/en/components/inputs/rating.md
  docfx/en/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Add a topic that shows usage of react coponents within Next.js
  doc/en/components/nextjs-usage.md
  docfx/en/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Adding mask input topic for React
  doc/en/components/inputs/mask-input.md
  docfx/en/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Adding the toggle button in the mini navdrawer code snippet in React
  doc/en/components/menus/navigation-drawer.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml
