Repository IgniteUI/igniteui-xplat-docs: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

azure-pipelines/azure-pipelines-jp.yml:
  name: $(BuildDefinitionName)_$(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  stages:
  - stage: Build
    pool:
      name: BuildAgentOnPrem
      demands: npm
    jobs:
    - job: BuildDocs
      steps:
      - task: NodeTool@0
        inputs:
          versionSource: spec
          versionSpec: 16.x
  ...

azure-pipelines/azure-pipelines.yml:
  schedules:
  - cron: '*/30 * * * *'
    displayName: Stability verification schedule
    branches:
      include:
      - azure-pipelines
    always: true
  name: $(BuildDefinitionName)_$(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  stages:
  - stage: Build
    pool:
      name: BuildAgentOnPrem
      demands: npm
    jobs:
  ...

azure-pipelines/build-pipeline-jp+kr.yml:
  name: $(BuildDefinitionName)_$(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  stages:
  - stage: Build
    pool:
      name: BuildAgentOnPrem
      demands: npm
    jobs:
    - job: BuildDocs
      steps:
      - checkout: self
      - task: NodeTool@0
        inputs:
          versionSource: spec
          versionSpec: 16.x
  ...

azure-pipelines/build-pipeline-multi-job-jp+kr.yml:
  name: $(BuildDefinitionName)_$(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  stages:
  - stage: Build
    pool:
      name: BuildAgentOnPrem
      demands: npm
    jobs:
    - template: templates/build-jobs-template.yml
      parameters:
        jobName: WebComponents_JP
        buildType: $(buildType)
  ...

azure-pipelines/build-pipeline.yml:
  name: $(BuildDefinitionName)_$(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  stages:
  - stage: Build
    pool:
      name: BuildAgentOnPrem
      demands: npm
    jobs:
    - job: BuildDocs
      steps:
      - checkout: self
      - task: NodeTool@0
        inputs:
          versionSource: spec
          versionSpec: 16.x
  ...

Update adv.filtering styling snippet to use query builder vars. (#1816)
  doc/en/components/grids/_shared/advanced-filtering.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Change styling samples height for react and blazor (#1790)
  doc/en/components/layouts/stepper.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

feat(drp): add topic to blazor
  apiMap/Blazor/webInputs.JS.blazor.apiMap.json
  doc/en/components/scheduling/date-range-picker.md
  docfx/en/components/toc.json
  stats/docStats-Blazor.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

fix(calendar): add missing sections for blazor & react
  doc/en/components/scheduling/calendar.md
  stats/docStats-React.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Update Japanese documentation with the latest changes - Getting Started, other
  doc/jp/components/general-getting-started.md
  doc/jp/components/grids/_shared/advanced-filtering.md
  doc/jp/components/layouts/stepper.md
  doc/jp/images/general/ig-cli-grid.png
  doc/jp/images/general/ig-vite-grid.png
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

Fixing Stepper sample alt
  doc/jp/components/layouts/stepper.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

Remove redundant 'mentionedTypes' line from Japanese Getting Started documentation
  doc/jp/components/general-getting-started.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

fix: adjust iframe height for linear-progress sample
  doc/en/components/inputs/linear-progress.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

fix: fix code snippet for Divider topic
  doc/en/components/layouts/divider.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

fix: adjust heights of iframes for tile manager topic
  doc/en/components/layouts/tile-manager.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

fix(*): removed-webc-react-unnecessary-quotes
  doc/en/components/general-open-source-vs-premium.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

docs(*): add tags new and fix jp open source topic
  doc/jp/components/general-open-source-vs-premium.md
  docfx/en/components/toc.json
  docfx/jp/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

chore(*): revert docStats-Blazor & React changes
  stats/docStats-Blazor.json
  stats/docStats-React.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Tweak information and structure a bit.
  doc/en/components/general-getting-started-oss.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Commit same EN topic for jp, since we have our own localization.
  doc/jp/components/general-getting-started-oss.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

Add missing language tag.
  doc/en/components/general-getting-started.md
  doc/jp/components/general-getting-started-oss.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

fix oss topic
  doc/en/components/general-open-source-vs-premium.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Mark Toolbar as premium only in the table
  doc/en/components/general-open-source-vs-premium.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

JA - adding the latest topic updates
  doc/jp/components/general-open-source-vs-premium.md
  doc/jp/components/inputs/text-area.md
  doc/jp/components/scheduling/calendar.md
  doc/jp/components/scheduling/date-range-picker.md
  docfx/jp/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

docs: add some notes about lite packages specifics
  doc/en/components/general-getting-started-oss.md
  doc/jp/components/general-getting-started-oss.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

docs(*): wording-oss-topic
  doc/en/components/general-open-source-vs-premium.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

fix: add corresponding code snippet for row editing actions topic
  doc/en/components/grids/_shared/row-actions.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

feat(*): applying licensing/getting-started improvs
  doc/en/components/general-getting-started.md
  doc/en/components/general-licensing.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

fix(*): some fixes in docs
  doc/en/components/general-getting-started.md
  doc/en/components/general-licensing.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

feat(*): applying licensing/getting-started improvs (#1841)
  doc/en/components/general-getting-started.md
  doc/en/components/general-licensing.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

docs(tabs): update styling code snippet
  doc/en/components/layouts/tabs.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

feat(badge): add dot type info
  doc/en/components/inputs/badge.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Update changelogs for XPLAT modern web
  doc/en/components/general-changelog-dv-blazor.md
  doc/en/components/general-changelog-dv-react.md
  doc/en/components/general-changelog-dv-wc.md
  doc/en/components/general-changelog-dv.md
  docConfig.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Schema generation changelog entry
  doc/en/components/general-changelog-dv-blazor.md
  doc/en/components/general-changelog-dv-react.md
  doc/en/components/general-changelog-dv-wc.md
  doc/en/components/general-changelog-dv.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Update Japanese documentation for December SR
  doc/jp/components/blazor-webassembly-how-to-read-and-write-excel-files-to-reduce-server-load.md
  doc/jp/components/general-changelog-dv-blazor.md
  doc/jp/components/general-changelog-dv-react.md
  doc/jp/components/general-changelog-dv-wc.md
  doc/jp/components/general-changelog-dv.md
  doc/jp/components/general-getting-started-blazor-maui.md
  doc/jp/components/general-getting-started-oss.md
  doc/jp/components/general-getting-started.md
  doc/jp/components/general-licensing.md
  doc/jp/components/general-open-source-vs-premium.md
  doc/jp/components/grid-lite/binding.md
  doc/jp/components/grid-lite/cell-template.md
  doc/jp/components/grid-lite/column-configuration.md
  doc/jp/components/grid-lite/filtering.md
  doc/jp/components/grid-lite/header-template.md
  doc/jp/components/grid-lite/overview.md
  doc/jp/components/grid-lite/theming.md
  doc/jp/components/layouts/tile-manager.md
  docfx/jp/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

Placeholder fix in OSS topic
  doc/jp/components/general-open-source-vs-premium.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

fix: add corresponding code snippets for conditional styling
  doc/en/components/grids/_shared/conditional-cell-styling.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

fix: cell-editing docs and snippets for Blazor and WC
  doc/en/components/grids/_shared/cell-editing.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

fix: adjust height of iframe for stripped sample so that React and WC samples are not cut off
  doc/en/components/inputs/linear-progress.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

fix: add corresponding code snippets for conditional styling for React and WC
  doc/en/components/grids/_shared/conditional-cell-styling.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Update Japanese documentation for December SR (#1847)
  doc/jp/components/blazor-webassembly-how-to-read-and-write-excel-files-to-reduce-server-load.md
  doc/jp/components/general-changelog-dv-blazor.md
  doc/jp/components/general-changelog-dv-react.md
  doc/jp/components/general-changelog-dv-wc.md
  doc/jp/components/general-changelog-dv.md
  doc/jp/components/general-getting-started-blazor-maui.md
  doc/jp/components/general-getting-started-oss.md
  doc/jp/components/general-getting-started.md
  doc/jp/components/general-licensing.md
  doc/jp/components/general-open-source-vs-premium.md
  doc/jp/components/grid-lite/binding.md
  doc/jp/components/grid-lite/cell-template.md
  doc/jp/components/grid-lite/column-configuration.md
  doc/jp/components/grid-lite/filtering.md
  doc/jp/components/grid-lite/header-template.md
  doc/jp/components/grid-lite/overview.md
  doc/jp/components/grid-lite/theming.md
  doc/jp/components/layouts/tile-manager.md
  docfx/jp/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

fix(sample): updated sample iframe height not to cut off color picker
  doc/en/components/inputs/color-editor.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

feat(*): Adding 'Edge docking' section to Docking section
  doc/en/components/layouts/dock-manager.md
  doc/en/images/dockmanager-edge-docking.jpg
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

fix(*): Mention edge docking in docking overview
  doc/en/components/layouts/dock-manager.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Path conditions:
  azure-pipelines/azure-pipelines-jp.yml: any file but: en
  azure-pipelines/azure-pipelines.yml: any file but: jp, kr
  azure-pipelines/build-pipeline-jp+kr.yml: any file but: **/en
  azure-pipelines/build-pipeline-multi-job-jp+kr.yml: any file but: **/en
  azure-pipelines/build-pipeline.yml: any file but: **/jp, **/kr
