Repository IgniteUI/igniteui-xplat-docs: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Path conditions:
  azure-pipelines/azure-pipelines-jp.yml: any file but: en
  azure-pipelines/azure-pipelines.yml: any file but: jp, kr
  azure-pipelines/build-pipeline-jp+kr.yml: any file but: **/en
  azure-pipelines/build-pipeline-multi-job-jp+kr.yml: any file but: **/en
  azure-pipelines/build-pipeline.yml: any file but: **/jp, **/kr

Add conditional styling topic for hgrid (#1189)
  doc/en/components/grids/_shared/conditional-cell-styling.md
  docfx/en/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Add Hierarchical Grid Collapsible Column Groups topic (#1180)
  doc/en/components/grids/_shared/collapsible-column-groups.md
  docfx/en/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Apply additional main filtering topic fixes.
  doc/en/components/grids/_shared/filtering.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Allowed filtering topics for HGrid (#1171)
  doc/en/components/grids/_shared/advanced-filtering.md
  doc/en/components/grids/_shared/excel-style-filtering.md
  doc/en/components/grids/_shared/filtering.md
  docfx/en/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

docs(hGrid): update LOD and Overview topics
  doc/en/components/grids/hierarchical-grid/load-on-demand.md
  doc/en/components/grids/hierarchical-grid/overview.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Add tree grid selection topic
  doc/en/components/grids/_shared/selection.md
  docfx/en/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Update hGrid LOD topic (#1261)
  doc/en/components/grids/hierarchical-grid/load-on-demand.md
  doc/en/components/grids/hierarchical-grid/overview.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

mdd-update-xplat-blazor-23.2.204
  docConfig.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Adding the remaining Grid/HGrid topics.
  doc/jp/components/grids/_shared/advanced-filtering.md
  doc/jp/components/grids/_shared/collapsible-column-groups.md
  doc/jp/components/grids/_shared/conditional-cell-styling.md
  doc/jp/components/grids/_shared/display-density.md
  doc/jp/components/grids/_shared/excel-style-filtering.md
  doc/jp/components/grids/_shared/filtering.md
  doc/jp/components/grids/_shared/row-pinning.md
  doc/jp/components/grids/hierarchical-grid/load-on-demand.md
  doc/jp/components/grids/hierarchical-grid/overview.md
  docfx/jp/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

Fix hGrid cell-selection-style sample not showing
  doc/en/components/grids/_shared/cell-selection.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Add tree grid filtering topic
  doc/en/components/grids/_shared/filtering.md
  docfx/en/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Add tgrid row-adding topic and update toc
  doc/en/components/grids/_shared/row-adding.md
  docfx/en/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

docs(tree-grid): add toolbar topic
  doc/en/components/grids/_shared/toolbar.md
  docfx/en/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Add tree grid row selection topic
  doc/en/components/grids/_shared/row-selection.md
  docfx/en/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Add tree grid row pinning topic
  doc/en/components/grids/_shared/row-pinning.md
  docfx/en/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

docs(date-picker): add initial date-picker topic
  doc/en/components/scheduling/date-picker.md
  docfx/en/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

docs(tree-grid): add consitional styling topic
  doc/en/components/grids/_shared/conditional-cell-styling.md
  docfx/en/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Add tree grid paging topic
  doc/en/components/grids/_shared/paging.md
  docfx/en/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Fix typo and fix the item and group header templates
  doc/en/components/inputs/combo/features.md
  doc/en/components/inputs/combo/templates.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Adding tgrid row-drag topic, updating toc and refactoring some snippets for the other grids
  doc/en/components/grids/_shared/row-drag.md
  docfx/en/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Include item template and group header template snippets for React
  doc/en/components/inputs/combo/templates.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

docs(grids): list igniteui-react as a dependency
  doc/en/components/grids/data-grid.md
  doc/en/components/grids/hierarchical-grid/overview.md
  doc/en/components/grids/tree-grid/overview.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

docs(tree-grid): add search topic
  doc/en/components/grids/_shared/search.md
  docfx/en/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

docs(tree-grid): enable column types sample
  doc/en/components/grids/_shared/column-types.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Add grid overview preload static images
  doc/en/components/grids/data-grid.md
  doc/en/images/marketing/grid-overview-sample.jpg
  doc/jp/components/grids/data-grid.md
  doc/jp/images/marketing/grid-overview-sample.jpg
  src/ext/MarkdownTransformer.ts
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

mdd-chart-highlighting
  doc/en/components/bullet-graph.md
  doc/en/components/charts/types/treemap-chart.md
  doc/en/components/linear-gauge.md
  doc/en/components/radial-gauge.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

mdd-data-filtering
  doc/en/components/charts/features/chart-data-filtering
  doc/en/components/general-changelog-dv-blazor.md
  doc/en/components/general-changelog-dv-react.md
  doc/en/components/general-changelog-dv-wc.md
  doc/en/components/general-changelog-dv.md
  doc/jp/components/charts/features/chart-data-filtering
  doc/kr/components/charts/features/chart-data-filtering
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Updating JA - Combo topics, Tabs.
  doc/jp/components/inputs/combo/features.md
  doc/jp/components/inputs/combo/overview.md
  doc/jp/components/inputs/combo/single-selection.md
  doc/jp/components/inputs/combo/templates.md
  doc/jp/components/layouts/tabs.md
  docfx/jp/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

Add tree grid summary topic
  doc/en/components/grids/_shared/summaries.md
  docfx/en/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Update treemap-chart.md
  doc/en/components/charts/types/treemap-chart.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

mdd-data-legendandtooltip-grouping
  doc/en/components/charts/features/chart-data-legend.md
  doc/en/components/charts/features/chart-data-tooltip.md
  doc/en/components/charts/features/chart-highlight-filter.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Add information about transpilation of packages in nextjs page routing
  doc/en/components/nextjs-usage.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Update JA for #1243, #1283 and #1284, other fixes
  doc/jp/components/bullet-graph.md
  doc/jp/components/charts/chart-features.md
  doc/jp/components/charts/chart-overview.md
  doc/jp/components/charts/features/chart-animations.md
  doc/jp/components/charts/features/chart-highlight-filter.md
  doc/jp/components/charts/features/chart-highlighting.md
  doc/jp/components/charts/features/chart-markers.md
  doc/jp/components/charts/features/chart-performance.md
  doc/jp/components/charts/features/chart-trendlines.md
  doc/jp/components/charts/types/bubble-chart.md
  doc/jp/components/charts/types/pie-chart.md
  doc/jp/components/charts/types/polar-chart.md
  doc/jp/components/charts/types/scatter-chart.md
  doc/jp/components/charts/types/treemap-chart.md
  doc/jp/components/excel-library-using-worksheets.md
  doc/jp/components/general-changelog-dv-blazor.md
  doc/jp/components/general-changelog-dv-react.md
  doc/jp/components/general-changelog-dv-wc.md
  doc/jp/components/general-changelog-dv.md
  doc/jp/components/geo-map-type-scatter-bubble-series.md
  doc/jp/components/grids/_shared/cell-selection.md
  doc/jp/components/grids/_shared/column-selection.md
  doc/jp/components/grids/_shared/conditional-cell-styling.md
  doc/jp/components/grids/_shared/row-selection.md
  doc/jp/components/grids/_shared/search.md
  doc/jp/components/grids/data-grid.md
  doc/jp/components/grids/data-grid/cell-selection.md
  doc/jp/components/grids/data-grid/overview.md
  doc/jp/components/grids/data-grid/row-highlighting.md
  doc/jp/components/grids/grid/master-detail.md
  doc/jp/components/grids/hierarchical-grid/overview.md
  doc/jp/components/grids/theming.md
  doc/jp/components/grids/tree-grid/overview.md
  doc/jp/components/inputs/combo/single-selection.md
  doc/jp/components/layouts/dock-manager.md
  doc/jp/components/linear-gauge.md
  doc/jp/components/radial-gauge.md
  doc/jp/components/scheduling/calendar.md
  doc/jp/components/spreadsheet-conditional-formatting.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

Update missed EN string.
  doc/jp/components/bullet-graph.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

docs(banner): add banner topic
  doc/en/components/notifications/banner.md
  docfx/en/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

update image URLs in chart and grid documentation
  doc/en/components/charts/chart-overview.md
  doc/en/components/grids/data-grid.md
  doc/en/images/marketing/grid-overview-sample.jpg
  doc/jp/components/charts/chart-overview.md
  doc/jp/components/grids/data-grid.md
  doc/jp/images/marketing/grid-overview-sample.jpg
  doc/kr/components/charts/chart-overview.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

docs(date-time-input): update topic for Blazor
  doc/en/components/inputs/date-time-input.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

chore(*): apply requested changes
  doc/en/components/inputs/date-time-input.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

chore(*): update template version
  package-lock.json
  package.json
  yarn.lock
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

chore(toc): Move Multi-Column combo to deprecated
  docfx/en/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml
