Repository IgniteUI/igniteui-xplat-docs: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

azure-pipelines/azure-pipelines-jp.yml:
  name: $(BuildDefinitionName)_$(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  stages:
  - stage: Build
    pool:
      name: BuildAgentOnPrem
      demands: npm
    jobs:
    - job: BuildDocs
      steps:
      - task: NodeTool@0
        inputs:
          versionSource: spec
          versionSpec: 16.x
  ...

azure-pipelines/azure-pipelines.yml:
  schedules:
  - cron: '*/30 * * * *'
    displayName: Stability verification schedule
    branches:
      include:
      - azure-pipelines
    always: true
  name: $(BuildDefinitionName)_$(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  stages:
  - stage: Build
    pool:
      name: BuildAgentOnPrem
      demands: npm
    jobs:
  ...

azure-pipelines/build-pipeline-jp+kr.yml:
  name: $(BuildDefinitionName)_$(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  stages:
  - stage: Build
    pool:
      name: BuildAgentOnPrem
      demands: npm
    jobs:
    - job: BuildDocs
      steps:
      - checkout: self
      - task: NodeTool@0
        inputs:
          versionSource: spec
          versionSpec: 16.x
  ...

azure-pipelines/build-pipeline-multi-job-jp+kr.yml:
  name: $(BuildDefinitionName)_$(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  stages:
  - stage: Build
    pool:
      name: BuildAgentOnPrem
      demands: npm
    jobs:
    - template: templates/build-jobs-template.yml
      parameters:
        jobName: WebComponents_JP
        buildType: $(buildType)
  ...

azure-pipelines/build-pipeline.yml:
  name: $(BuildDefinitionName)_$(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  stages:
  - stage: Build
    pool:
      name: BuildAgentOnPrem
      demands: npm
    jobs:
    - job: BuildDocs
      steps:
      - checkout: self
      - task: NodeTool@0
        inputs:
          versionSource: spec
          versionSpec: 16.x
  ...

Updating JA with the latest topic changes and fixes. (#1106)
  doc/jp/components/general-changelog-dv-blazor.md
  doc/jp/components/general-changelog-dv-react.md
  doc/jp/components/general-changelog-dv-wc.md
  doc/jp/components/general-changelog-dv.md
  doc/jp/components/grids/_shared/cell-editing.md
  doc/jp/components/grids/_shared/column-moving.md
  doc/jp/components/grids/_shared/column-pinning.md
  doc/jp/components/grids/_shared/column-resizing.md
  doc/jp/components/grids/_shared/column-types.md
  doc/jp/components/grids/_shared/editing.md
  doc/jp/components/grids/_shared/keyboard-navigation.md
  doc/jp/components/grids/_shared/multi-row-layout.md
  doc/jp/components/grids/_shared/sorting.md
  doc/jp/components/menus/toolbar.md
  docfx/jp/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

Update general-changelog-dv-blazor.md
  doc/en/components/general-changelog-dv-blazor.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Update general-changelog-dv-blazor.md (#1109)
  doc/en/components/general-changelog-dv-blazor.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Update doc/en/components/grids/theming.md
  doc/en/components/grids/theming.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Update doc/en/components/grids/_shared/column-pinning.md
  doc/en/components/grids/_shared/column-pinning.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

fix package names in DV API members
  apiMap/Angular/DV.DataAdapters.Financial.JS.apiMap.json
  apiMap/Angular/DV.Shared.CORE.JS.apiMap.json
  apiMap/Angular/DV.Shared.DATASERIESADAPTER.JS.apiMap.json
  apiMap/Angular/DV.Shared.DATASOURCE.JS.apiMap.json
  apiMap/Angular/DV.Shared.DESCRIPTION.JS.apiMap.json
  apiMap/Angular/DV.Shared.GEO.JS.apiMap.json
  apiMap/Angular/DV.Shared.GEOMETRY.JS.apiMap.json
  apiMap/Angular/DV.Shared.INTERACTIVITY.JS.apiMap.json
  apiMap/Angular/DV.Shared.POPUP.JS.apiMap.json
  apiMap/Angular/DV.Shared.SCROLLER.JS.apiMap.json
  apiMap/Blazor/DV.DataAdapters.Financial.JS.blazor.apiMap.json
  apiMap/Blazor/DV.Shared.CORE.JS.blazor.apiMap.json
  apiMap/Blazor/DV.Shared.DATASERIESADAPTER.JS.blazor.apiMap.json
  apiMap/Blazor/DV.Shared.DATASOURCE.JS.blazor.apiMap.json
  apiMap/Blazor/DV.Shared.DESCRIPTION.JS.blazor.apiMap.json
  apiMap/Blazor/DV.Shared.GEO.JS.blazor.apiMap.json
  apiMap/Blazor/DV.Shared.GEOMETRY.JS.blazor.apiMap.json
  apiMap/Blazor/DV.Shared.INTERACTIVITY.JS.blazor.apiMap.json
  apiMap/Blazor/DV.Shared.POPUP.JS.blazor.apiMap.json
  apiMap/React/DV.DataAdapters.Financial.JS.r.apiMap.json
  apiMap/React/DV.Shared.CORE.JS.r.apiMap.json
  apiMap/React/DV.Shared.DATASERIESADAPTER.JS.r.apiMap.json
  apiMap/React/DV.Shared.DATASOURCE.JS.r.apiMap.json
  apiMap/React/DV.Shared.DESCRIPTION.JS.r.apiMap.json
  apiMap/React/DV.Shared.GEO.JS.r.apiMap.json
  apiMap/React/DV.Shared.GEOMETRY.JS.r.apiMap.json
  apiMap/React/DV.Shared.INTERACTIVITY.JS.r.apiMap.json
  apiMap/React/DV.Shared.POPUP.JS.r.apiMap.json
  apiMap/React/DV.Shared.SCROLLER.JS.r.apiMap.json
  apiMap/WebComponents/DV.DataAdapters.Financial.JS.wc.apiMap.json
  apiMap/WebComponents/DV.Shared.CORE.JS.wc.apiMap.json
  apiMap/WebComponents/DV.Shared.DATASERIESADAPTER.JS.wc.apiMap.json
  apiMap/WebComponents/DV.Shared.DATASOURCE.JS.wc.apiMap.json
  apiMap/WebComponents/DV.Shared.DESCRIPTION.JS.wc.apiMap.json
  apiMap/WebComponents/DV.Shared.GEO.JS.wc.apiMap.json
  apiMap/WebComponents/DV.Shared.GEOMETRY.JS.wc.apiMap.json
  apiMap/WebComponents/DV.Shared.INTERACTIVITY.JS.wc.apiMap.json
  apiMap/WebComponents/DV.Shared.POPUP.JS.wc.apiMap.json
  apiMap/WebComponents/DV.Shared.SCROLLER.JS.wc.apiMap.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

fixed geo map links
  doc/en/components/charts/types/shape-chart.md
  doc/en/components/geo-map-binding-data-model.md
  doc/en/components/geo-map-binding-multiple-shapes.md
  doc/en/components/geo-map-binding-multiple-sources.md
  doc/en/components/geo-map-binding-shp-file.md
  doc/en/components/geo-map-shape-files-reference.md
  doc/en/components/geo-map-type-shape-polygon-series.md
  doc/en/components/geo-map-type-shape-polyline-series.md
  doc/en/components/maps/map-api.md
  doc/jp/components/charts/types/shape-chart.md
  doc/jp/components/geo-map-binding-data-model.md
  doc/jp/components/geo-map-binding-multiple-shapes.md
  doc/jp/components/geo-map-binding-multiple-sources.md
  doc/jp/components/geo-map-binding-shp-file.md
  doc/jp/components/geo-map-shape-files-reference.md
  doc/jp/components/geo-map-type-shape-polygon-series.md
  doc/jp/components/geo-map-type-shape-polyline-series.md
  doc/jp/components/maps/map-api.md
  doc/kr/components/charts/types/shape-chart.md
  doc/kr/components/geo-map-binding-data-model.md
  doc/kr/components/geo-map-binding-multiple-shapes.md
  doc/kr/components/geo-map-binding-multiple-sources.md
  doc/kr/components/geo-map-binding-shp-file.md
  doc/kr/components/geo-map-type-shape-polygon-series.md
  doc/kr/components/geo-map-type-shape-polyline-series.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Add row actions tree grid topic. Update some snippets (#887)
  doc/en/components/grids/_shared/row-actions.md
  docfx/en/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Fix merge conflicts.
  doc/en/components/grids/_shared/column-resizing.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Add tree grid ESF snippets. (#882)
  doc/en/components/grids/_shared/excel-style-filtering.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

edit row-editting topic and update toc (#907)
  doc/en/components/grids/_shared/row-editing.md
  docfx/en/components/toc.json
  docfx/jp/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Resolve merge conflicts.
  doc/en/components/grids/_shared/cell-editing.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Move sample ref so that it appears for each platform just once.
  doc/en/components/grids/_shared/cell-editing.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Refactor sections a bit so there's no repetions.
  doc/en/components/grids/_shared/cell-editing.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Update css vars.
  doc/en/components/grids/_shared/column-pinning.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Minor fix for styling section.
  doc/en/components/grids/_shared/multi-column-headers.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Enable tree grid mch sample. Fix templating section and snippets. (#918)
  doc/en/components/grids/_shared/multi-column-headers.md
  docfx/en/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

TreeGrid col-pinning.md fixes (#917)
  doc/en/components/grids/_shared/column-pinning.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Address PR comments for cell editing topic (#912)
  doc/en/components/grids/_shared/cell-editing.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

update toc and row pinning topic (#896)
  doc/en/components/grids/_shared/row-pinning.md
  docfx/en/components/toc.json
  docfx/jp/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Update TreeGrid Advanced Filtering snippets and show in TOC. (#862)
  doc/en/components/grids/_shared/advanced-filtering.md
  docfx/en/components/toc.json
  docfx/jp/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Enable tgrid live data topic. (#919)
  docfx/en/components/toc.json
  docfx/jp/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Replace {ComponentTitle} with Grid in non shared topics it's not autoreplaced
  doc/en/components/grids/theming.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Enable treegrid sizing topic. (#920)
  docfx/en/components/toc.json
  docfx/jp/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Add remote operations infinite scroll section for Blazor. (#922)
  doc/en/components/grids/_shared/remote-data-operations.md
  docfx/en/components/toc.json
  docfx/jp/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Add paste from excel topic with snippets.
  doc/en/components/grids/grid/paste-excel.md
  docfx/en/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

using JP samples in JP topics
  src/ext/MarkdownTransformer.ts
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

using JP samples in JP topics (#1112)
  src/ext/MarkdownTransformer.ts
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Add chart highlighting to TOC and changelog
  doc/en/components/charts/features/chart-highlight-filter.md
  doc/en/components/general-changelog-dv-blazor.md
  doc/en/components/general-changelog-dv-react.md
  doc/en/components/general-changelog-dv-wc.md
  doc/en/components/general-changelog-dv.md
  docfx/en/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Add chart highlighting to TOC and changelog (#1113)
  doc/en/components/charts/features/chart-highlight-filter.md
  doc/en/components/general-changelog-dv-blazor.md
  doc/en/components/general-changelog-dv-react.md
  doc/en/components/general-changelog-dv-wc.md
  doc/en/components/general-changelog-dv.md
  docfx/en/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Adding the latest topic changes - 23.2, other.
  doc/jp/components/charts/features/chart-highlight-filter.md
  doc/jp/components/general-changelog-dv-blazor.md
  doc/jp/components/general-changelog-dv-react.md
  doc/jp/components/general-changelog-dv-wc.md
  doc/jp/components/general-changelog-dv.md
  doc/jp/components/grids/_shared/advanced-filtering.md
  doc/jp/components/grids/_shared/cell-editing.md
  doc/jp/components/grids/_shared/column-pinning.md
  doc/jp/components/grids/_shared/excel-style-filtering.md
  doc/jp/components/grids/_shared/multi-column-headers.md
  doc/jp/components/grids/_shared/remote-data-operations.md
  doc/jp/components/grids/_shared/row-actions.md
  doc/jp/components/grids/_shared/row-editing.md
  doc/jp/components/grids/_shared/row-pinning.md
  docfx/jp/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

Fixing build error.
  doc/jp/components/grids/_shared/row-editing.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

docs(tree): add toggleNodeOnClick property
  doc/en/components/grids/tree.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

docs(tree): add UPDATED status
  docfx/en/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

[JA] Adding the latest topic changes - 23.2, other. (#1114)
  doc/jp/components/charts/features/chart-highlight-filter.md
  doc/jp/components/general-changelog-dv-blazor.md
  doc/jp/components/general-changelog-dv-react.md
  doc/jp/components/general-changelog-dv-wc.md
  doc/jp/components/general-changelog-dv.md
  doc/jp/components/grids/_shared/advanced-filtering.md
  doc/jp/components/grids/_shared/cell-editing.md
  doc/jp/components/grids/_shared/column-pinning.md
  doc/jp/components/grids/_shared/excel-style-filtering.md
  doc/jp/components/grids/_shared/multi-column-headers.md
  doc/jp/components/grids/_shared/remote-data-operations.md
  doc/jp/components/grids/_shared/row-actions.md
  doc/jp/components/grids/_shared/row-editing.md
  doc/jp/components/grids/_shared/row-pinning.md
  docfx/jp/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

chore(*): update-overview-topics (#1034)
  doc/en/components/grids/_shared/column-pinning.md
  doc/en/components/grids/theming.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Fix changelog versions and revise chart filter highlight topic
  doc/en/components/charts/features/chart-highlight-filter.md
  doc/en/components/general-changelog-dv-blazor.md
  doc/en/components/general-changelog-dv-react.md
  doc/en/components/general-changelog-dv-wc.md
  doc/en/components/general-changelog-dv.md
  docConfig.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Fix changelog versions and revise chart filter highlight topic (#1117)
  doc/en/components/charts/features/chart-highlight-filter.md
  doc/en/components/general-changelog-dv-blazor.md
  doc/en/components/general-changelog-dv-react.md
  doc/en/components/general-changelog-dv-wc.md
  doc/en/components/general-changelog-dv.md
  docConfig.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Fix changelogs
  doc/en/components/general-changelog-dv-blazor.md
  doc/en/components/general-changelog-dv-react.md
  doc/en/components/general-changelog-dv-wc.md
  doc/en/components/general-changelog-dv.md
  doc/jp/components/general-changelog-dv-react.md
  docConfig.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Path conditions:
  azure-pipelines/azure-pipelines-jp.yml: any file but: en
  azure-pipelines/azure-pipelines.yml: any file but: jp, kr
  azure-pipelines/build-pipeline-jp+kr.yml: any file but: **/en
  azure-pipelines/build-pipeline-multi-job-jp+kr.yml: any file but: **/en
  azure-pipelines/build-pipeline.yml: any file but: **/jp, **/kr
