Repository IgniteUI/igniteui-xplat-docs: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Path conditions:
  azure-pipelines/azure-pipelines-jp.yml: any file but: en
  azure-pipelines/azure-pipelines.yml: any file but: jp, kr
  azure-pipelines/build-pipeline-jp+kr.yml: any file but: **/en
  azure-pipelines/build-pipeline-multi-job-jp+kr.yml: any file but: **/en
  azure-pipelines/build-pipeline.yml: any file but: **/jp, **/kr

fix lint
  doc/en/components/general-changelog-dv-blazor.md
  doc/en/components/general-changelog-dv-react.md
  doc/en/components/general-changelog-dv-wc.md
  doc/en/components/general-changelog-dv.md
  doc/en/components/general-licensing.md
  doc/en/components/general-nuget-feed.md
  doc/en/components/general-open-source-vs-premium.md
  doc/en/components/grids/_shared/filtering.md
  doc/en/components/grids/_shared/virtualization.md
  doc/en/components/grids/data-grid/accessibility.md
  doc/en/components/grids/data-grid/performance.md
  doc/en/components/grids/grid/groupby.md
  doc/en/components/grids/grid/icons.md
  doc/en/components/grids/theming.md
  doc/en/components/grids/tree.md
  doc/en/components/inputs/combo/overview.md
  doc/en/components/inputs/combo/single-selection.md
  doc/en/components/inputs/date-time-input.md
  doc/en/components/inputs/mask-input.md
  doc/en/components/layouts/carousel.md
  doc/en/components/layouts/stepper.md
  doc/en/components/menus/toolbar.md
  doc/jp/components/general-changelog-dv-blazor.md
  doc/jp/components/general-changelog-dv-react.md
  doc/jp/components/general-changelog-dv-wc.md
  doc/jp/components/general-changelog-dv.md
  doc/jp/components/general-nuget-feed.md
  doc/jp/components/grids/_shared/filtering.md
  doc/jp/components/grids/data-grid/performance.md
  doc/jp/components/grids/grid/groupby.md
  doc/jp/components/inputs/mask-input.md
  doc/jp/components/menus/toolbar.md
  doc/kr/components/general-changelog-dv.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

fix lint
  doc/en/components/grids/_shared/toolbar.md
  doc/en/components/grids/hierarchical-grid/overview.md
  doc/en/components/inputs/combo/overview.md
  doc/en/components/inputs/combo/single-selection.md
  doc/en/components/menus/toolbar.md
  doc/jp/components/grids/_shared/toolbar.md
  doc/jp/components/grids/hierarchical-grid/overview.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

fix lint
  doc/en/components/excel-library.md
  doc/en/components/general-changelog-dv-blazor.md
  doc/en/components/grids/_shared/cell-editing.md
  doc/en/components/grids/_shared/collapsible-column-groups.md
  doc/en/components/grids/_shared/export-excel.md
  doc/en/components/grids/_shared/filtering.md
  doc/en/components/grids/_shared/row-editing.md
  doc/en/components/grids/_shared/row-selection.md
  doc/en/components/grids/_shared/search.md
  doc/en/components/grids/_shared/state-persistence.md
  doc/jp/components/excel-library.md
  doc/jp/components/general-changelog-dv-blazor.md
  doc/jp/components/grids/_shared/collapsible-column-groups.md
  doc/jp/components/grids/_shared/filtering.md
  doc/jp/components/grids/_shared/search.md
  doc/kr/components/excel-library.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

fix tabs
  doc/en/components/general-getting-started-blazor-maui.md
  doc/en/components/geo-map.md
  doc/en/components/grids/_shared/cell-editing.md
  doc/en/components/grids/_shared/keyboard-navigation.md
  doc/en/components/grids/_shared/multi-row-layout.md
  doc/en/components/grids/_shared/row-adding.md
  doc/en/components/grids/_shared/row-editing.md
  doc/en/components/grids/_shared/row-pinning.md
  doc/jp/components/general-getting-started-blazor-maui.md
  doc/jp/components/geo-map.md
  doc/jp/components/grids/_shared/cell-editing.md
  doc/jp/components/grids/_shared/keyboard-navigation.md
  doc/jp/components/grids/_shared/multi-row-layout.md
  doc/jp/components/grids/_shared/row-adding.md
  doc/jp/components/grids/_shared/row-editing.md
  doc/jp/components/grids/_shared/row-pinning.md
  doc/jp/components/layouts/accordion.md
  doc/jp/components/menus/toolbar.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

fix lint
  doc/en/components/grids/_shared/cell-editing.md
  doc/en/components/grids/_shared/column-pinning.md
  doc/en/components/grids/_shared/multi-row-layout.md
  doc/en/components/grids/_shared/row-drag.md
  doc/en/components/grids/_shared/row-editing.md
  doc/en/components/grids/_shared/row-selection.md
  doc/jp/components/grids/_shared/row-drag.md
  doc/jp/components/grids/_shared/row-editing.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

add markdown lint
  .markdownlint-README.md
  .markdownlint.json
  package-lock.json
  package.json
  yarn.lock
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

chore(*): add-oss-tables-jp
  doc/jp/components/general-open-source-vs-premium.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

gulp verifyMarkdown
  gulpfile.js
  src/ext/MarkdownContent.ts
  src/ext/MarkdownVerifier.ts
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

add image alt
  doc/en/components/blazor-webassembly-how-to-read-and-write-excel-files-to-reduce-server-load.md
  doc/en/components/customize-marker-display-in-blazor-charts.md
  doc/en/components/general-changelog-dv-blazor.md
  doc/en/components/general-changelog-dv-react.md
  doc/en/components/general-changelog-dv-wc.md
  doc/en/components/general-changelog-dv.md
  doc/en/components/general-getting-started-blazor-client.md
  doc/en/components/general-getting-started-blazor-maui.md
  doc/en/components/general-getting-started-blazor-web-app.md
  doc/en/components/general-getting-started.md
  doc/en/components/general-installing-blazor.md
  doc/en/components/general-nuget-feed.md
  doc/en/components/grids/_shared/sizing.md
  doc/en/components/layouts/card.md
  doc/en/components/layouts/carousel.md
  doc/en/components/layouts/dock-manager.md
  doc/jp/components/blazor-webassembly-how-to-read-and-write-excel-files-to-reduce-server-load.md
  doc/jp/components/customize-marker-display-in-blazor-charts.md
  doc/jp/components/general-changelog-dv-blazor.md
  doc/jp/components/general-changelog-dv-react.md
  doc/jp/components/general-changelog-dv-wc.md
  doc/jp/components/general-changelog-dv.md
  doc/jp/components/general-getting-started-blazor-client.md
  doc/jp/components/general-getting-started-blazor-maui.md
  doc/jp/components/general-getting-started-blazor-web-app.md
  doc/jp/components/general-getting-started.md
  doc/jp/components/general-installing-blazor.md
  doc/jp/components/general-nuget-feed.md
  doc/jp/components/grids/_shared/sizing.md
  doc/jp/components/grids/hierarchical-grid/load-on-demand.md
  doc/jp/components/layouts/card.md
  doc/jp/components/layouts/carousel.md
  doc/jp/components/layouts/dock-manager.md
  doc/jp/components/layouts/tile-manager.md
  doc/jp/components/nextjs-usage.md
  doc/jp/components/themes/styles.md
  doc/kr/components/blazor-webassembly-how-to-read-and-write-excel-files-to-reduce-server-load.md
  doc/kr/components/customize-marker-display-in-blazor-charts.md
  doc/kr/components/general-changelog-dv.md
  doc/kr/components/general-getting-started.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

fix lint issues
  .markdownlint-README.md
  doc/en/components/general-changelog-dv-blazor.md
  doc/en/components/general-changelog-dv-react.md
  doc/en/components/general-changelog-dv-wc.md
  doc/en/components/general-changelog-dv.md
  doc/en/components/interactivity/accessibility-compliance.md
  doc/en/components/update-guide.md
  doc/jp/components/interactivity/accessibility-compliance.md
  doc/jp/components/update-guide.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

remove markdown lint
  gulpfile.js
  package-lock.json
  package.json
  yarn.lock
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

fix spell check
  doc/en/components/blazor-webassembly-how-to-read-and-write-excel-files-to-reduce-server-load.md
  doc/en/components/editors/xdate-picker.md
  doc/en/components/grids/_shared/column-moving.md
  doc/en/components/grids/_shared/excel-style-filtering.md
  doc/en/components/grids/_shared/export-excel.md
  doc/en/components/grids/_shared/multi-row-layout.md
  doc/en/components/grids/_shared/sorting.md
  doc/en/components/grids/_shared/state-persistence.md
  doc/en/components/grids/data-grid/row-grouping.md
  doc/en/components/grids/grid/icons.md
  doc/en/components/grids/grid/selection-based-aggregates.md
  doc/en/components/grids/grids-header.md
  doc/en/components/inputs/combo/single-selection.md
  doc/en/components/interactivity/chat.md
  doc/en/components/layouts/card.md
  doc/en/components/themes/typography.md
  doc/jp/components/grids/grid/icons.md
  yarn.lock
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

add spellcheck
  cspell.json
  package-lock.json
  package.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

remove spellcheck (requires node 20)
  .markdownlint-README.md
  package-lock.json
  package.json
  yarn.lock
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Update gulpfile.js
  gulpfile.js
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

update(topic): updated hgrid custom summary snipet
  doc/en/components/grids/_shared/summaries.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

fix(docs): fix not working links
  doc/en/components/general-open-source-vs-premium.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

chore: fix links and images for oss vs prem topic
  doc/en/components/general-open-source-vs-premium.md
  doc/jp/images/open-source-text.png
  doc/jp/images/premium-text.png
  doc/kr/images/open-source-text.png
  doc/kr/images/premium-text.png
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Change binding topic snippets for blazor
  doc/en/components/grid-lite/binding.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Fix typo and sample url for sorting topic
  doc/en/components/grid-lite/sorting.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Fix sample url. Polish the theming topic
  doc/en/components/grid-lite/theming.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Add theming properties info in the premium grid theming topic
  doc/en/components/grids/theming-grid.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Add toolbar and color editor to premium
  docfx/en/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Add "deprecated" components to premium doc and update TOC
  doc/en/components/general-open-source-vs-premium.md
  docfx/en/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Remove deprecated controls
  doc/en/components/general-open-source-vs-premium.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Resolve comments
  doc/en/components/grid-lite/binding.md
  doc/en/components/grid-lite/sorting.md
  doc/en/components/grid-lite/theming.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Polish grid lite topics (#1805)
  doc/en/components/grid-lite/binding.md
  doc/en/components/grid-lite/sorting.md
  doc/en/components/grid-lite/theming.md
  doc/en/components/grids/theming-grid.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Update adv.filtering styling snippet to use query builder vars.
  doc/en/components/grids/_shared/advanced-filtering.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

docs(grids): add grids changelog
  doc/en/components/general-changelog-dv-blazor.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

docs: add small components changelog
  doc/en/components/general-changelog-dv-blazor.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

docs: apply version and final changelog adjustments
  doc/en/components/general-changelog-dv-blazor.md
  docConfig.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

docs: apply more formatting
  doc/en/components/general-changelog-dv-blazor.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

docs(grids): add grids small components changelog for Blazor (#1819)
  doc/en/components/general-changelog-dv-blazor.md
  docConfig.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

fix(text-area): increase samples height
  doc/en/components/inputs/text-area.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

docs(grids): update changelog and documentation for new grid features and improvements
  doc/jp/components/general-changelog-dv-blazor.md
  doc/jp/components/grid-lite/binding.md
  doc/jp/components/grid-lite/sorting.md
  doc/jp/components/grid-lite/theming.md
  doc/jp/components/grids/theming-grid.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

Small fix
  doc/jp/components/grids/theming-grid.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

docs(*): toolbar-commercial
  doc/en/components/menus/toolbar.md
  doc/jp/components/menus/toolbar.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml
