Repository IgniteUI/igniteui-xplat-docs: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Path conditions:
  azure-pipelines/azure-pipelines-jp.yml: any file but: en
  azure-pipelines/azure-pipelines.yml: any file but: jp, kr
  azure-pipelines/build-pipeline-jp+kr.yml: any file but: **/en
  azure-pipelines/build-pipeline-multi-job-jp+kr.yml: any file but: **/en
  azure-pipelines/build-pipeline.yml: any file but: **/jp, **/kr

Additional string in API topic.
  doc/jp/components/charts/chart-api.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

Fix in topic title.
  doc/jp/components/charts/chart-api.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

verify mardown
  doc/en/components/charts/features/chart-data-legend.md
  gulpfile.js
  package.json
  src/ext/MarkdownTransformer.ts
  src/ext/MarkdownVerifier.ts
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

refactor markdown verification
  gulpfile.js
  src/ext/MarkdownContent.ts
  src/ext/MarkdownTransformer.ts
  src/ext/MarkdownVerifier.ts
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

revert test changes
  doc/en/components/charts/features/chart-data-legend.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

improve verifyMarkdown
  gulpfile.js
  package.json
  src/ext/MarkdownContent.ts
  src/ext/MarkdownTransformer.ts
  src/ext/MarkdownVerifier.ts
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Update general-changelog-dv-blazor.md
  doc/en/components/general-changelog-dv-blazor.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

improved logging
  gulpfile.js
  src/ext/Logger.ts
  src/ext/MarkdownContent.ts
  src/ext/MarkdownTransformer.ts
  src/ext/MarkdownVerifier.ts
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

update stats
  stats/docStats-Angular.json
  stats/docStats-Blazor.json
  stats/docStats-React.json
  stats/docStats-WC.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

update api mapping files
  apiMap/Angular/CheckboxList.JS.apiMap.json
  apiMap/Angular/DV.Shared.CORE.JS.apiMap.json
  apiMap/Angular/DV.Shared.DESCRIPTION.JS.apiMap.json
  apiMap/Angular/DataChart.ANNOTATION.JS.apiMap.json
  apiMap/Angular/DataChart.DATAPIE.JS.apiMap.json
  apiMap/Angular/DataChart.PIECHART.JS.apiMap.json
  apiMap/Angular/DataChart.RADIAL.JS.apiMap.json
  apiMap/Angular/webInputs.JS.apiMap.json
  apiMap/Blazor/CheckboxList.JS.blazor.apiMap.json
  apiMap/Blazor/DV.Shared.DESCRIPTION.JS.blazor.apiMap.json
  apiMap/Blazor/DataChart.ANNOTATION.JS.blazor.apiMap.json
  apiMap/Blazor/DataChart.DATAPIE.JS.blazor.apiMap.json
  apiMap/Blazor/DataChart.RADIAL.JS.blazor.apiMap.json
  apiMap/Blazor/webInputs.JS.blazor.apiMap.json
  apiMap/React/CheckboxList.JS.r.apiMap.json
  apiMap/React/DV.Shared.CORE.JS.r.apiMap.json
  apiMap/React/DV.Shared.DESCRIPTION.JS.r.apiMap.json
  apiMap/React/DataChart.ANNOTATION.JS.r.apiMap.json
  apiMap/React/DataChart.DATAPIE.JS.r.apiMap.json
  apiMap/React/DataChart.PIECHART.JS.r.apiMap.json
  apiMap/React/DataChart.RADIAL.JS.r.apiMap.json
  apiMap/React/webInputs.JS.r.apiMap.json
  apiMap/WebComponents/CheckboxList.JS.wc.apiMap.json
  apiMap/WebComponents/DV.Shared.CORE.JS.wc.apiMap.json
  apiMap/WebComponents/DV.Shared.DESCRIPTION.JS.wc.apiMap.json
  apiMap/WebComponents/DataChart.ANNOTATION.JS.wc.apiMap.json
  apiMap/WebComponents/DataChart.DATAPIE.JS.wc.apiMap.json
  apiMap/WebComponents/DataChart.PIECHART.JS.wc.apiMap.json
  apiMap/WebComponents/DataChart.RADIAL.JS.wc.apiMap.json
  apiMap/WebComponents/webInputs.JS.wc.apiMap.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

add updateApiStats
  gulpfile.js
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

fix links
  doc/en/components/charts/chart-overview.md
  doc/en/components/charts/features/chart-markers.md
  doc/en/components/charts/features/chart-performance.md
  doc/en/components/charts/types/area-chart.md
  doc/en/components/charts/types/column-chart.md
  doc/en/components/charts/types/line-chart.md
  doc/en/components/charts/types/point-chart.md
  doc/en/components/charts/types/spline-chart.md
  doc/en/components/charts/types/step-chart.md
  doc/en/components/charts/types/stock-chart.md
  doc/jp/components/charts/chart-overview.md
  doc/jp/components/charts/features/chart-markers.md
  doc/jp/components/charts/features/chart-performance.md
  doc/jp/components/charts/types/area-chart.md
  doc/jp/components/charts/types/column-chart.md
  doc/jp/components/charts/types/line-chart.md
  doc/jp/components/charts/types/point-chart.md
  doc/jp/components/charts/types/spline-chart.md
  doc/jp/components/charts/types/step-chart.md
  doc/jp/components/charts/types/stock-chart.md
  doc/kr/components/charts/chart-api.md
  doc/kr/components/charts/features/chart-data-filtering.md
  doc/kr/components/charts/features/chart-markers.md
  doc/kr/components/charts/features/chart-performance.md
  doc/kr/components/charts/types/area-chart.md
  doc/kr/components/charts/types/column-chart.md
  doc/kr/components/charts/types/line-chart.md
  doc/kr/components/charts/types/point-chart.md
  doc/kr/components/charts/types/spline-chart.md
  doc/kr/components/charts/types/step-chart.md
  doc/kr/components/charts/types/stock-chart.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Fix grid and hgrid overview topics imports missing combined.js
  doc/en/components/grids/data-grid.md
  doc/en/components/grids/hierarchical-grid/overview.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Fix grid and hgrid overview topics imports missing combined.js (#1394)
  doc/en/components/grids/data-grid.md
  doc/en/components/grids/hierarchical-grid/overview.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

JA topic fixes, adding the latest topic updates.
  doc/jp/components/charts/features/chart-performance.md
  doc/jp/components/general-changelog-dv-blazor.md
  doc/jp/components/grids/_shared/cell-editing.md
  doc/jp/components/grids/data-grid.md
  doc/jp/components/grids/data-grid/column-chooser.md
  doc/jp/components/grids/data-grid/column-pinning.md
  doc/jp/components/grids/hierarchical-grid/overview.md
  doc/jp/components/layouts/dock-manager.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

docs(button-group): enable selection snippet for Blazor
  doc/en/components/inputs/button-group.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Edited documentation for PivotGird topics
  doc/en/components/grids/_shared/state-persistence.md
  doc/en/components/grids/pivot-grid/remote-operations.md
  doc/jp/components/grids/_shared/state-persistence.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

fix(carousel): use double quotes for mentionedTypes
  doc/en/components/layouts/carousel.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

docs(carousel): hide animations section
  doc/en/components/layouts/carousel.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

docs(carousel): enable animations section
  doc/en/components/layouts/carousel.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

docs(carousel): update code snippet with animation type
  doc/en/components/layouts/carousel.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Update chart navigation topic to be more clear on whether zooming is on by default
  doc/en/components/charts/features/chart-navigation.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

docs(carousel): minor changes
  doc/en/components/layouts/carousel.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Add missing auto get section and pivot keys add in overview.
  doc/en/components/grids/pivot-grid/overview.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Update JA for #1397 and #1401
  doc/jp/components/charts/features/chart-navigation.md
  doc/jp/components/inputs/button-group.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

Add Carousel topic #1350
  doc/jp/components/layouts/carousel.md
  docfx/jp/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

mdd-update-nuget-url-protocol
  doc/en/components/general-nuget-feed.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Update general-nuget-feed.md
  doc/en/components/general-nuget-feed.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Fix excel-style sample references per platform.
  doc/en/components/grids/_shared/cell-editing.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

docs(carousel): add topic for React/Blazor
  apiMap/Blazor/webInputs.JS.blazor.apiMap.json
  apiMap/React/webInputs.JS.r.apiMap.json
  doc/en/components/layouts/carousel.md
  docfx/en/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Fix excel-style sample references per platform. (#1409)
  doc/en/components/grids/_shared/cell-editing.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Add missing auto get section and pivot keys add in overview. (#1402)
  doc/en/components/grids/pivot-grid/overview.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

docs(carousel): update razor snippets and Blazor apiMap
  apiMap/Blazor/webInputs.JS.blazor.apiMap.json
  doc/en/components/layouts/carousel.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Updating JA topics for #1409 and #1402
  doc/jp/components/grids/_shared/cell-editing.md
  doc/jp/components/grids/pivot-grid/overview.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

Carousel topic updates.
  doc/jp/components/layouts/carousel.md
  docfx/jp/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

Edited documentation for PivotGird topics (#1399)
  doc/en/components/grids/_shared/state-persistence.md
  doc/en/components/grids/pivot-grid/remote-operations.md
  doc/jp/components/grids/_shared/state-persistence.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

docs(*): update changelog with november releasem
  doc/en/components/general-changelog-dv-blazor.md
  doc/en/components/general-changelog-dv-react.md
  doc/en/components/general-changelog-dv-wc.md
  docConfig.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Editing documentation with the latest changes on Remote Paging samples
  doc/en/components/grids/_shared/remote-data-operations.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml
