Repository IgniteUI/igniteui-xplat-docs: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Path conditions:
  azure-pipelines/azure-pipelines-jp.yml: any file but: en
  azure-pipelines/azure-pipelines.yml: any file but: jp, kr
  azure-pipelines/build-pipeline-jp+kr.yml: any file but: **/en
  azure-pipelines/build-pipeline-multi-job-jp+kr.yml: any file but: **/en
  azure-pipelines/build-pipeline.yml: any file but: **/jp, **/kr

Latest changes - JA - Grids
  doc/jp/components/general-changelog-dv-blazor.md
  doc/jp/components/general-changelog-dv-wc.md
  doc/jp/components/grids/_shared/cell-editing.md
  doc/jp/components/grids/_shared/column-hiding.md
  doc/jp/components/grids/_shared/paging.md
  doc/jp/components/grids/_shared/remote-data-operations.md
  doc/jp/components/grids/_shared/row-actions.md
  doc/jp/components/grids/_shared/row-adding.md
  doc/jp/components/grids/_shared/row-drag.md
  doc/jp/components/grids/_shared/row-editing.md
  doc/jp/components/grids/_shared/search.md
  doc/jp/components/grids/_shared/state-persistence.md
  doc/jp/components/grids/_shared/toolbar.md
  doc/jp/components/grids/_shared/validation.md
  doc/jp/components/grids/_shared/virtualization.md
  doc/jp/components/grids/grid/groupby.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

Column Hiding - localized content
  doc/jp/components/grids/_shared/column-hiding.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

fix(dialog): fix Blazor related content
  doc/en/components/notifications/dialog.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Update toc to remove clipboard operations doc
  docfx/en/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

wip - verify API link
  gulpfile.js
  package.json
  src/ext/MarkdownTransformer.ts
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

updated api mapping
  apiMap/Angular/CheckboxList.JS.apiMap.json
  apiMap/Angular/DV.Shared.CORE.JS.apiMap.json
  apiMap/Angular/DV.Shared.DESCRIPTION.JS.apiMap.json
  apiMap/Angular/DV.Shared.POPUP.JS.apiMap.json
  apiMap/Angular/DataChart.PIECHART.JS.apiMap.json
  apiMap/Angular/Grid.JS.apiMap.json
  apiMap/Angular/GridColumnOptions.JS.apiMap.json
  apiMap/Angular/Layouts.JS.apiMap.json
  apiMap/Angular/WebGrids.JS.apiMap.json
  apiMap/Angular/webInputs.JS.apiMap.json
  apiMap/Blazor/CheckboxList.JS.blazor.apiMap.json
  apiMap/Blazor/DV.Shared.DESCRIPTION.JS.blazor.apiMap.json
  apiMap/Blazor/DV.Shared.POPUP.JS.blazor.apiMap.json
  apiMap/Blazor/DataChart.PIECHART.JS.blazor.apiMap.json
  apiMap/Blazor/Grid.JS.blazor.apiMap.json
  apiMap/Blazor/GridColumnOptions.JS.blazor.apiMap.json
  apiMap/Blazor/Layouts.JS.blazor.apiMap.json
  apiMap/Blazor/WebGrids.JS.blazor.apiMap.json
  apiMap/Blazor/webInputs.JS.blazor.apiMap.json
  apiMap/React/CheckboxList.JS.r.apiMap.json
  apiMap/React/DV.Shared.CORE.JS.r.apiMap.json
  apiMap/React/DV.Shared.DESCRIPTION.JS.r.apiMap.json
  apiMap/React/DV.Shared.POPUP.JS.r.apiMap.json
  apiMap/React/DataChart.PIECHART.JS.r.apiMap.json
  apiMap/React/Grid.JS.r.apiMap.json
  apiMap/React/GridColumnOptions.JS.r.apiMap.json
  apiMap/React/Layouts.JS.r.apiMap.json
  apiMap/React/WebGrids.JS.r.apiMap.json
  apiMap/React/webInputs.JS.r.apiMap.json
  apiMap/WebComponents/CheckboxList.JS.wc.apiMap.json
  apiMap/WebComponents/DV.Shared.CORE.JS.wc.apiMap.json
  apiMap/WebComponents/DV.Shared.DESCRIPTION.JS.wc.apiMap.json
  apiMap/WebComponents/DV.Shared.POPUP.JS.wc.apiMap.json
  apiMap/WebComponents/DataChart.PIECHART.JS.wc.apiMap.json
  apiMap/WebComponents/Grid.JS.wc.apiMap.json
  apiMap/WebComponents/GridColumnOptions.JS.wc.apiMap.json
  apiMap/WebComponents/Layouts.JS.wc.apiMap.json
  apiMap/WebComponents/WebGrids.JS.wc.apiMap.json
  apiMap/WebComponents/webInputs.JS.wc.apiMap.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

mdd-update
  doc/en/components/general-changelog-dv-blazor.md
  doc/en/components/general-changelog-dv-wc.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

chore(*): hide sample for Blazor
  doc/en/components/notifications/dialog.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Updating with changes up to 11 Apr - JA
  doc/jp/components/inputs/combo/overview.md
  docfx/jp/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

chore(*): update changelog
  doc/en/components/general-changelog-dv-blazor.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

chore(*): Fix some formattings. Update some snippets.
  doc/en/components/grids/data-grid.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

fix snippets
  doc/en/components/blazor-excel-library-temporarily-stop-automatic-calculation-of-formulas-to-speed-up-processing.md
  doc/en/components/blazor-webassembly-how-to-read-and-write-excel-files-to-reduce-server-load.md
  doc/en/components/bullet-graph.md
  doc/en/components/customize-marker-display-in-blazor-charts.md
  doc/en/components/excel-library.md
  doc/en/components/geo-map-display-heat-imagery.md
  doc/en/components/grids/_shared/column-types.md
  doc/en/components/grids/_shared/row-drag.md
  doc/en/components/grids/_shared/row-editing.md
  doc/en/components/grids/_shared/search.md
  doc/en/components/grids/_shared/toolbar.md
  doc/en/components/grids/data-grid.md
  doc/en/components/grids/data-grid/column-pinning.md
  doc/en/components/grids/tree-grid/overview.md
  doc/en/components/layouts/stepper.md
  doc/jp/components/blazor-excel-library-temporarily-stop-automatic-calculation-of-formulas-to-speed-up-processing.md
  doc/jp/components/blazor-webassembly-how-to-read-and-write-excel-files-to-reduce-server-load.md
  doc/jp/components/bullet-graph.md
  doc/jp/components/customize-marker-display-in-blazor-charts.md
  doc/jp/components/excel-library.md
  doc/jp/components/geo-map-display-heat-imagery.md
  doc/jp/components/grids/_shared/column-types.md
  doc/jp/components/grids/_shared/row-drag.md
  doc/jp/components/grids/_shared/row-editing.md
  doc/jp/components/grids/_shared/search.md
  doc/jp/components/grids/_shared/toolbar.md
  doc/jp/components/grids/data-grid.md
  doc/jp/components/grids/tree-grid/overview.md
  doc/jp/components/layouts/stepper.md
  doc/jp/components/linear-gauge.md
  doc/kr/components/blazor-excel-library-temporarily-stop-automatic-calculation-of-formulas-to-speed-up-processing.md
  doc/kr/components/blazor-webassembly-how-to-read-and-write-excel-files-to-reduce-server-load.md
  doc/kr/components/bullet-graph.md
  doc/kr/components/customize-marker-display-in-blazor-charts.md
  doc/kr/components/excel-library.md
  doc/kr/components/geo-map-display-heat-imagery.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Updating incorrect snippets and update some to macth their related samples.
  doc/en/components/grids/data-grid.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Updating with changes up to 11 Apr - JA
  doc/jp/components/blazor-excel-library-temporarily-stop-automatic-calculation-of-formulas-to-speed-up-processing.md
  doc/jp/components/blazor-webassembly-how-to-read-and-write-excel-files-to-reduce-server-load.md
  doc/jp/components/customize-marker-display-in-blazor-charts.md
  doc/jp/components/excel-library.md
  doc/jp/components/general-changelog-dv-blazor.md
  doc/jp/components/general-changelog-dv-wc.md
  doc/jp/components/grids/_shared/column-types.md
  doc/jp/components/grids/_shared/row-editing.md
  doc/jp/components/grids/data-grid.md
  doc/jp/components/grids/data-grid/column-pinning.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

docs(stepper): add to changelog
  doc/en/components/general-changelog-dv-blazor.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Update blazor snippets.
  doc/en/components/grids/data-grid.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

npm ci need to install devdependencies - ignore NODE_ENV influence
  azure-pipelines/build-pipeline-jp+kr.yml
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

npm ci need to install devdependencies - ignore NODE_ENV influence
  azure-pipelines/build-pipeline.yml
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

fix prop settings
  doc/en/components/bullet-graph.md
  doc/en/components/inputs/button.md
  doc/en/components/inputs/form.md
  doc/jp/components/inputs/button.md
  doc/jp/components/inputs/form.md
  doc/jp/components/linear-gauge.md
  doc/kr/components/bullet-graph.md
  doc/kr/components/inputs/button.md
  doc/kr/components/inputs/form.md
  doc/kr/components/linear-gauge.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Skip processing for Angular - not a priority at the moment
  azure-pipelines/build-pipeline-jp+kr.yml
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Skip processing for Angular - not a priority at the moment
  azure-pipelines/build-pipeline.yml
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

ci(gh actions): adding an action to build angular
  .github/workflows/build-angular.yml
  .github/workflows/build-wc.yml
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

ci(gh action): renaming the angular action
  .github/workflows/build-angular.yml
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

chore(*): wrong step name
  .github/workflows/build-angular.yml
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

ci(gh action): fixing the angular build
  gulpfile.js
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

fixed new/updated tags
  doc/en/components/general-changelog-dv-wc.md
  docfx/en/components/toc.json
  docfx/jp/components/toc.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

undo skip Angular
  azure-pipelines/build-pipeline-jp+kr.yml
  azure-pipelines/build-pipeline.yml
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

feat(ci): eliminating windows dep on env set
  gulpfile.js
  package.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

chore(*): small fix.
  doc/en/components/grids/data-grid.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Adding changes up to 12 Apr
  doc/jp/components/blazor-excel-library-temporarily-stop-automatic-calculation-of-formulas-to-speed-up-processing.md
  doc/jp/components/blazor-webassembly-how-to-read-and-write-excel-files-to-reduce-server-load.md
  doc/jp/components/bullet-graph.md
  doc/jp/components/customize-marker-display-in-blazor-charts.md
  doc/jp/components/general-changelog-dv-blazor.md
  doc/jp/components/general-changelog-dv-wc.md
  doc/jp/components/grids/_shared/toolbar.md
  doc/jp/components/notifications/dialog.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

Update web components snippets.
  doc/en/components/grids/grid/groupby.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Add some blazor snippets.
  doc/en/components/grids/grid/groupby.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

ci(gh-actions): build should fail for broken links
  docfx/kr/global.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

ci(gh-actions): broken links fail for EN
  docfx/en/global.json
  docfx/jp/global.json
  docfx/kr/global.json
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml, azure-pipelines/build-pipeline.yml

Adding changes up to 18 April, other fixes.
  doc/jp/components/blazor-webassembly-how-to-read-and-write-excel-files-to-reduce-server-load.md
  doc/jp/components/general-changelog-dv-wc.md
  doc/jp/components/grids/_shared/toolbar.md
  doc/jp/components/notifications/dialog.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline-jp+kr.yml, azure-pipelines/build-pipeline-multi-job-jp+kr.yml

Change column pinning topic. Add some snippets and samples
  doc/en/components/grids/_shared/column-pinning.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Undo removal of Note tags
  doc/en/components/grids/_shared/column-moving.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Update more snippets.
  doc/en/components/grids/grid/groupby.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml

Change a snippet in the Display Density topic
  doc/en/components/grids/_shared/display-density.md
Due: azure-pipelines/azure-pipelines-jp.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/build-pipeline.yml
